{% extends "layout/_layout_sidebar.html" %}

{% load wagtailcore_tags %}

{% block main_classes %}layout_one_column--faq{% endblock %}

{% block main %}
	<div class="stream">
		{% if page.body %}
			{% for block in page.body %}
				<section class="stream__block">
					{% include_block block %}
				</section>
			{% endfor %}
		{% endif %}
	</div>
	{% with questions=page.questions.all %}
		{% if questions %}
			<ol id="list">
				{% for question in questions %}
					<li><a href="#{{question.question|slugify}}">{{question.question}}</a></li>
				{% endfor %}
			</ol>
		{% endif %}
		{% for question in questions %}
			<h2 id="{{question.question|slugify}}">{{question.question}}</h2>
			<div>
				{{question.answer|richtext}}
			</div>
			<a href="#list">Back to Top</a>
		{% endfor %}
	{% endwith %}
{% endblock main %}

{% block sidebar %}
	{% include 'simple/_sidebar.html' %}
{% endblock %}
