{% extends "layout/_layout_sidebar.html" %}

{% load wagtailcore_tags i18n %}

{% block main_classes %}layout_one_column--faq{% endblock %}

{% block main %}
	<div class="faq">
		{% if page.body %}
			{% for block in page.body %}
				<section class="faq__body">
					{% include_block block %}
				</section>
			{% endfor %}
		{% endif %}
		{% with questions=page.questions.all %}
			{% if questions %}
				<ol id="list">
					{% for question in questions %}
						<li><a href="#{{question.question|slugify}}">{{question.question}}</a></li>
					{% endfor %}
				</ol>
			{% endif %}
			{% for question in questions %}
				<h2 class="faq__question" id="{{question.question|slugify}}">{{question.question}}</h2>
				<div>
					{{question.answer|richtext}}
				</div>
				<a class="faq__return_to_top" href="#list">
					{% trans "Back to Top" %}
					{% include "common/chevron-right.svg" with class="faq__chevron-up" %}
				</a>
			{% endfor %}
		{% endwith %}
	</div>
{% endblock main %}

{% block sidebar %}
	{% include 'simple/_sidebar.html' %}
{% endblock %}
