*
	box-sizing: border-box
	font-family: 'Fira Sans'

*:after,
*:before
	box-sizing: inherit

html
	height: 100%
	font-family: $sans-serif

body
	margin: 0
	height: 100%
	font-size: $base
	overflow-x: hidden

b,
strong
	font-weight: $sans-bold

i,
em
	font-style: italic

// responsive images are the default
img
	max-width: 100%
	height: auto

a
	+link--underline

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: $sans-regular
	margin-top: 0
	margin-bottom: 1rem

h1
	font-size: $h1
h2
	font-size: $h2
h3
	font-size: $h3
h4
	font-size: $h4
h5
	font-size: $h5
h6
	font-size: $h6
