$fonts-dir: $static-url + 'fonts/'

@font-face
	font-family: 'Fira Mono'
	font-weight: 300
	font-style: normal
	font-stretch: normal
	src: url('#{$fonts-dir}firamono-medium-webfont.woff2') format('woff2'), url('#{$fonts-dir}firamono-medium-webfont.woff') format('woff'), url('#{$fonts-dir}firamono-medium-webfont.ttf') format('truetype')

@font-face
	font-family: 'Fira Mono'
	font-weight: 400
	font-style: normal
	font-stretch: normal
	src:  url('#{$fonts-dir}firamono-bold-webfont.woff2') format('woff2'), url('#{$fonts-dir}firamono-bold-webfont.woff') format('woff'), url('#{$fonts-dir}firamono-bold-webfont.ttf') format('truetype')

@font-face
	font-family: 'Fira Sans'
	font-weight: 300
	font-style: normal
	font-stretch: normal
	src: url('#{$fonts-dir}firasans-book-webfont.woff2') format('woff2'), url('#{$fonts-dir}firasans-book-webfont.woff') format('woff')

@font-face
	font-family: 'Fira Sans'
	font-weight: 300
	font-style: italic
	font-stretch: normal
	src: url('#{$fonts-dir}firasans-bookitalic-webfont.woff2') format('woff2'), url('#{$fonts-dir}firasans-bookitalic-webfont.woff') format('woff')

@font-face
	font-family: 'Fira Sans'
	font-weight: 400
	font-style: normal
	font-stretch: normal
	src: url('#{$fonts-dir}firasans-regular-webfont.woff2') format('woff2'), url('#{$fonts-dir}firasans-regular-webfont.woff') format('woff'), url('#{$fonts-dir}firasans-regular-webfont.ttf') format('truetype')

@font-face
	font-family: 'Fira Sans'
	font-weight: 400
	font-style: italic
	font-stretch: normal
	src: url('#{$fonts-dir}firasans-italic-webfont.woff2') format('woff2'), url('#{$fonts-dir}firasans-italic-webfont.woff') format('woff')


@font-face
	font-family: 'Fira Sans'
	font-weight: 500
	font-style: normal
	font-stretch: normal
	src: url('#{$fonts-dir}firasans-medium-webfont.woff2') format('woff2'), url('#{$fonts-dir}firasans-medium-webfont.woff') format('woff')

@font-face
	font-family: 'Fira Sans'
	font-weight: 500
	font-style: italic
	font-stretch: normal
	src: url('#{$fonts-dir}firasans-mediumitalic-webfont.woff2') format('woff2'), url('#{$fonts-dir}firasans-mediumitalic-webfont.woff') format('woff')
