{% extends "layout/_layout_one_column.html" %}
{% load i18n wagtailcore_tags %}

{% block site_title %}
	{% trans "Two-factor authentication" %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block main %}
	<div class="allauth">
		<h1>
			{% trans "Two-factor authentication" %}
		</h1>
		{% if settings.common.TwoFactorAuthSettings.authenticate_text %}
			{{ settings.common.TwoFactorAuthSettings.authenticate_text|richtext }}
		{% endif %}
		<form method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<p>
				<label>{{ form.otp_token.label }}:</label>
				{{ form.otp_token }}
			</p>

			<button type="submit">
				{% trans 'Authenticate' %}
			</button>
		</form>
	</div>
{% endblock %}
