{% extends "layout/_layout_one_column.html" %}
{% load i18n wagtailcore_tags %}

{% block site_title %}
	{% trans "Two-factor authentication backup tokens" %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block main %}
	<div class="allauth">
		<h1 id="title">
			{% trans "Two-factor authentication backup tokens" %}
		</h1>
		{% if settings.common.TwoFactorAuthSettings.backup_tokens_text %}
			{{ settings.common.TwoFactorAuthSettings.backup_tokens_text|richtext }}
		{% endif %}
		<ul>
			{% for token in backup_tokens %}
				<li>{{ token.token }}</li>

			{% empty %}
				{% trans 'You have no tokens. Press the button below to generate some.' %}

			{% endfor %}
		</ul>

		<form method="post">
			{% csrf_token %}
			<button type="submit">
				{% trans 'Generate backup tokens' %}
			</button>
		</form>
		<br>
		<a href="{% url 'two-factor-remove' %}">Disable two factor</a>
	</div>
{% endblock %}
