{% extends "layout/_layout_one_column.html" %}
{% load i18n wagtailcore_tags %}

{% block page_title %}
	<h1 class="header__title">
		{% trans "Two-Factor Authentication Backup Tokens" %}
	</h1>
{% endblock %}

{% block main %}
	<div class="allauth">
		{% if settings.common.TwoFactorAuthSettings.backup_tokens_text %}
			{{ settings.common.TwoFactorAuthSettings.backup_tokens_text|richtext }}
		{% endif %}
		<ul>
			{% for token in backup_tokens %}
				<li>{{ token.token }}</li>

			{% empty %}
				{% trans 'No tokens. Press the button below to generate some.' %}

			{% endfor %}
		</ul>

		<form method="post">
			{% csrf_token %}
			<button type="submit">
				{% trans 'Generate backup tokens' %}
			</button>
		</form>
		<br>
		<a href="{% url 'two-factor-remove' %}">Disable Two Factor</a>
	</div>
{% endblock %}
