{% extends "layout/_layout_one_column.html" %}
{% load i18n wagtailcore_tags %}

{% block site_title %}
	{% trans "Disable two-factor authentication" %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block main %}
	<div class="allauth">
		<h1 id="title">
			{% trans "Disable two-factor authentication" %}
		</h1>

		{% if settings.common.TwoFactorAuthSettings.remove_text %}
			{{ settings.common.TwoFactorAuthSettings.remove_text|richtext }}
		{% endif %}

		<p>{% trans "Are you sure?" %}</p>

		<form method="post">
			{% csrf_token %}
			<button type="submit">
				{% trans 'Disable two-factor' %}
			</button>
		</form>
	</div>
{% endblock %}
