{% extends "super.html" %}
{% load wagtailuserbar %}
{% load render_bundle from webpack_loader %}


{% block body %}
	{% wagtailuserbar %}

	{% include 'common/_tor.html' %}

	<header class="header">
		{% block header %}

			<nav class="main-nav">
				{% include "menus/_header_menu.html" %}

				<button
					class="hamburger hamburger--collapse js-sliding-nav-trigger"
					type="button"
					aria-label="Menu"
					aria-controls="navigation"
					aria-expanded="false"
				>
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>

				{% include "menus/_sliding_nav.html" %}
			</nav>

		{% endblock header %}
	</header>

	{% block secondary-header %}
	{% endblock %}


	{% block content %}
	{% endblock %}

	{% include 'common/_footer.html' %}

	<div class="shade js-sliding-nav-overlay"></div>

{% endblock body %}

