{% extends "super.html" %}

{% load wagtailuserbar wagtailcore_tags get_menu %}
{% load render_bundle from webpack_loader %}

{% block body %}
	{% wagtailuserbar %}

	{% include 'common/_tor.html' %}

	<header>
		{% block header %}
			{% with alert=settings.common.AlertSettings %}
				{% if alert.display_alert %}
					<div id="js-site-alert" class="site-alert">
						<div>
							<span class="site-alert__title">{{ alert.title }}:</span><span class="site-alert__body">{{ alert.body|richtext }}</span>
						</div>

						<button id="js-site-alert-button" class="site-alert__close-button site-alert__close-button--hidden">
							<span class="sr-only">{{ alert.close_text }}</span>
							{% include "common/_x.svg" with class="site-alert__close-x"%}
						</button>
					</div>
				{% endif %}
			{% endwith %}

			<div class="header {% block header_classes %}{% endblock %}">
				<div class="hexagons-background">
					{% block header_hexagons %}
						{% include "common/_hexagons_background.svg" with class="hexagons-background__svg" %}
					{% endblock %}
				</div>
				{% get_menu 'main' as menu_items %}
				<nav id='js-main-nav' class="main-nav">
					<div class="nav-menu nav-menu--mobile-hidden {% block nav_classes %}{% endblock %}">
						{% block nav_logos %}
							<a href="/" class="nav-menu__logos">
								{% include "common/_logo_solid_white.svg" with class="nav-menu__logo" %}
								{% include "common/_site_title.svg" with class="nav-menu__wordmark" %}
							</a>
						{% endblock nav_logos %}
						<ul class="nav-menu__list">
							{% for item in menu_items %}
								<li class="nav-menu__item">
									<a class="nav-menu__link {{ item.html_classes }}" href="{{ item.url }}">
										{{ item.text }}
									</a>
								</li>
							{% endfor %}
							<li class="nav-menu__item--search">
								<a class="nav-menu__link" href="#">
									{% include "common/_search_icon.svg" with class="nav-menu__search-icon" %}
								</a>
							</li>
						</ul>
					</div>

					<button
						class="hamburger hamburger--collapse js-sliding-nav-trigger"
						type="button"
						aria-label="Menu"
						aria-controls="navigation"
						aria-expanded="false"
					>
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</nav>

				{% block page_title %}
					<div class="header__title">
						<h1>{{ page.title }}</h1>
					</div>
				{% endblock %}
			</div>
			{% include "menus/_sliding_nav.html" %}
		{% endblock header %}
	</header>

	<div class="site-wrapper">
		{% block content %}
		{% endblock %}

		{% include 'common/_footer.html' %}
	</div>

	<div class="shade js-sliding-nav-overlay"></div>

{% endblock body %}
