{% extends "super.html" %}
{% load wagtailuserbar get_menu %}
{% load render_bundle from webpack_loader %}

{% block body %}
	{% wagtailuserbar %}

	{% include 'common/_tor.html' %}

	<header class="header">
		{% block header %}
			{% get_menu 'main' as menu_items %}
			<nav class="main-nav">
				<ul class="nav-menu nav-menu--mobile-hidden {% block nav-classes %}{% endblock %}">
				  {% for item in menu_items %}
				  <li class="nav-menu__item">
				    <a class="nav-menu__link {{ item.html_classes }}" href="{{ item.url }}">
				      {{ item.text }}
				    </a>
				  </li>
				  {% endfor %}
				</ul>

				<button
					class="hamburger hamburger--collapse js-sliding-nav-trigger"
					type="button"
					aria-label="Menu"
					aria-controls="navigation"
					aria-expanded="false"
				>
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>

				{% include "menus/_sliding_nav.html" %}
			</nav>

		{% endblock header %}
	</header>

	<div class="site-wrapper">
		{% block content %}
			{% block page_title %}
				<h1 class="{% block page_title_classes %}{% endblock %}">{{ page.title }}</h1>
			{% endblock %}
		{% endblock %}

		{% include 'common/_footer.html' %}
	</div>

	<div class="shade js-sliding-nav-overlay"></div>

{% endblock body %}

