{% load static wagtailmetadata_tags wagtailsettings_tags common_tags csp %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		{% block head %}
			<meta charset="utf-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<title>
				{% block site_title %}
					{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
				{% endblock %}
				{% block site_title_suffix %}
					- {% get_site_name %}
				{% endblock %}
			</title>
			<meta name="description" content="" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="icon" type="image/png" href="{% static 'favicon/favicon.png' %}">

			{% block css %}
			{% render_bundle 'common' 'css' %}
			{% endblock %}

			{% block meta %}
				{% if self %}
					{% meta_tags %}
				{% endif %}
				{% get_settings %}
				{% with seo_settings=settings.common.SocialSharingSEOSettings %}
					{% if seo_settings.twitter %}
						<meta name="twitter:site" content="@{{ seo_settings.twitter }}">
					{% endif %}
					{% if seo_settings.facebook_page_id %}
						<meta property="fb:pages" content="{{ seo_settings.facebook_page_id }}">
					{% endif %}
				{% endwith %}
			{% endblock %}

			<!--[if lte IE 11]>
			<script type="text/javascript" src="{% static 'js/picturefill.3.0.2.min.js' %}"></script>
			<![endif]-->
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		{% block body %}
		{% endblock %}
		{% if django_settings.PIWIK_DOMAIN_PATH and django_settings.PIWIK_SITE_ID %}
			{% script type="application/javascript" async=False %}
			<script type="text/javascript">
			 var _paq = _paq || [];

			 _paq.push(['trackPageView']);
			 _paq.push(['enableLinkTracking']);
			 (function() {
				 var u="https://{{ django_settings.PIWIK_DOMAIN_PATH }}/";
				 _paq.push(['setTrackerUrl', u+'piwik.php']);
				 _paq.push(['setSiteId', {{ django_settings.PIWIK_SITE_ID }}]);
				 var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				 g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			 })();
			</script>
		{% endscript %}
		<noscript><p><img src="https://{{ django_settings.PIWIK_DOMAIN_PATH }}/piwik.php?idsite={{ django_settings.PIWIK_SITE_ID }}" style="border:0;" alt="" /></p></noscript>
		{% endif %}
	</body>

	{% block js %}
		{% render_bundle 'common' 'js' %}
	{% endblock %}

</html>