{% load i18n %}
{% load static wagtailmetadata_tags wagtailsettings_tags common_tags %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
	<head>
		{% block head %}
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="icon" href="/favicon.ico" sizes="any" />
			<link rel="icon" href="{% static 'favicon/favicon.svg' %}" type="image/svg+xml" />
			<link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}" />

			{% block css %}
			{% render_bundle 'common' 'css' %}
			{% endblock %}

			{% block meta %}
				{% if self %}
					{% meta_tags %}
				{% else %}
					<title>
						{% block site_title %}
							{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
						{% endblock %}
						{% block site_title_suffix %}
							- {% get_site_name %}
						{% endblock %}
					</title>
					<meta name="description" content="" />
				{% endif %}
				{% get_settings use_default_site=True %}
				{% with seo_settings=settings.common.SocialSharingSEOSettings %}
					{% if seo_settings.twitter %}
						<meta name="twitter:site" content="@{{ seo_settings.twitter }}">
					{% endif %}
					{% if seo_settings.facebook_page_id %}
						<meta property="fb:pages" content="{{ seo_settings.facebook_page_id }}">
					{% endif %}
				{% endwith %}
			{% endblock %}
		{% endblock %}
		{% if request.in_preview_panel %}
			<base target="_blank">
		{% endif %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		{% block body %}
		{% endblock %}

		{% if django_settings.ANALYTICS_ENABLED %}
			<script type="text/javascript" src="{% static 'js/piwik.js' %}"></script>
			<noscript><p><img src="https://analytics.freedom.press/piwik.php?idsite=3" alt="" /></p></noscript>
		{% endif %}
	</body>

	{% block js %}
		{% render_bundle 'common' 'js' %}
	{% endblock %}

</html>
