#id_text {
    margin-top: 2ex;
}

span.glyphicon-link {
    font-size: 2em;
}

.good-grade {
    font-size: 5em;
    color: green;
}

.warning-grade {
    font-size: 5em;
    color: orange;
}

.fail-grade {
    font-size: 5em;
    color: red;
}
