$background-image-width: 1.5rem
$select-padding: 0.5rem
$input-height: 2.5rem
$input-border: 1px solid $gray50
$input-margin: 1rem
$filters-margin-bottom: 1rem

.filter-form
	margin-bottom: $layout-padding

.filters
	display: flex
	justify-content: space-between

	+media-breakpoint-down(extra-small)
		flex-direction: column

.filters__wrapper
	flex-grow: 1
	padding-right: $input-margin
	&:last-child
		padding-right: 0

	+media-breakpoint-down(extra-small)
		padding-right: 0

.filters__wrapper--search
	flex-shrink: 0

.filters__wrapper--last
	+media-breakpoint-down(extra-small)
		display: flex
		&:last-child
			padding-left: $input-margin

.filters__field
	border: $input-border
	padding-left: 1rem
	margin-bottom: $filters-margin-bottom
	height: $input-height
	width: 100%

.filters__field--select
	appearance: none
	border-radius: $button-border-radius
	background: transparent
	color: $gray50--text
	padding: $select-padding $background-image-width + $select-padding $select-padding $select-padding
	background: transparent url($static-url  + "images/chevron-down.svg") no-repeat right $select-padding center

.filters__field--search
	border-radius: $input-height

.filters__submit
	width: $input-height
	height: $input-height
	overflow: hidden
	border-radius: $button-border-radius
	border: none
	background-color: $gray80
	color: $white
	margin-left: $input-margin
	margin-bottom: $filters-margin-bottom
	padding: 0.5rem
	flex-shrink: 0

.filters__submit--hide-mobile
	+media-breakpoint-down(extra-small)
		display: none

.filters__submit--hide-desktop
	+media-breakpoint-up(small)
		display: none

.filters__clear
	text-align: right

