.filters
 display: flex
 flex-wrap: wrap
 margin-bottom: 2rem

.filters__select
	border-radius: $button-border-radius
	background: transparent
	border: 1px solid $gray50
	height: 2rem
	width: 11rem
	color: $gray50--text
	margin-right: 1rem
	margin-bottom: 1rem
	padding: 0.5rem

.filters__submit
	width: 2rem
	height: 2rem
	overflow: hidden
	border-radius: $button-border-radius
	border: none
	background-color: $gray80
	color: white
	margin-bottom: 0.5rem

.filters__buttons
	display: flex
	flex-direction: column
