.instance-title
	padding: 5rem
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.instance-title__logo
	max-width: 10rem
	height: auto
	margin-bottom: 3rem

.instance-title__onion-address
	font-weight: 600
