.instance-title
	+layout-x
	padding-top: $layout-padding
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center

.instance-title__logo
	max-width: 10rem
	height: auto
	margin-bottom: $layout-padding
	+media-breakpoint-down(extra-small)
		margin-bottom: 0.5*$layout-padding

.instance-title__onion-address
	font-weight: $sans-bold

.instance-title__header
	font-size: 3rem
	margin: 0
	padding-bottom: 0.5rem

.instance-title__landing-page
	font-size: 1.5rem
	margin-bottom: 0.5rem
	margin-left: 0.5rem

.instance-title__chevron
	+text-chevron--right(large)
