.instance-table
	width: 100%

.instance-table__head
	margin-bottom: 2rem

.instance-table__title
	text-transform: uppercase
	color: $gray50--text
	text-align: left
	font-weight: 400

.instance-table__org-name
	margin-bottom: 0.25rem
	font-size: 2rem

.instance-table__org-description
	color: $gray50--text

.instance-table__grade
	color: $white
	width: 3rem
	font-size: 2rem
	font-weight: 500
	text-align: center
	border-radius: 0.5rem

@each $name, $color in $grade-colors
	.instance-table__grade--#{$name}
		background-color: $color

.instance-table__row
	+link-transition
	+hover
		background-color: $gray10

.instance-table__link
	+link--unstyled

.instance-table__spacer
	height: 1rem
