$spacer-max: 7px
$spacer-success: 3px
$spacer-warning: 7px
$spacer-fail: 0px

.scan-result
	font-weight: 300
	padding-top: 1.5rem

.scan-result
	padding-top: 2rem

.scan-result__section
	padding-bottom: 2rem

.scan-result__heading
	color: $brand-primary
	font-weight: 500
	padding-bottom: 0.5rem
	margin: 0

.scan-result__result
	display: flex
	align-items: flex-start
	padding-bottom: 1rem

.scan-result__result--success
	color: $green
	margin-top: $spacer-max - $spacer-success

.scan-result__result--warning
	color: $yellow
	margin-top: $spacer-max - $spacer-warning

.scan-result__result--fail
	color: $red
	margin-top: $spacer-max - $spacer-fail

.scan-result__fix--not-admin
	display: none

.scan-result__text
	// align lowercase text with the middle of the x
	padding-top: 5px
	padding-left: 1rem
	a
		+link--underline(inherit, $link-hover-color)

.scan-result__x, .scan-result__checkmark, .scan-result__flag
	height: auto
	width: 1.5rem
	flex-shrink: 0

.scan-result__checkmark
	margin-top: $spacer-success

.scan-result__flag
	margin-top: $spacer-warning
