.submit-instance
	margin-bottom: 3rem

.submit-instance__title
	font-size: 1.3rem
	font-weight: 500

.submit-instance__button
	width: 100%
	+button-small
	+button-solid--black

.submit-instance__button-icon
	+text-chevron--right
