{% extends "layout/_layout_one_column.html" %}
{% load wagtailimages_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block site_title %}
	{% trans 'Editing' %} {{ object.title }}
{% endblock %}

{% block page_title %}
	<h1 class="header__title">
		{% trans 'Editing' %} {{ object.title }}
	</h1>
{% endblock %}

{% block main_classes %}layout-one-column--left{% endblock %}

{% block main %}
	{% if object.organization_logo %}
		Current logo:
			{% image object.organization_logo width-100 %}
		{% endif%}
	<form class="basic-form" action="" enctype="multipart/form-data" method="post">
	    {% csrf_token %}
	    {{ form.as_p|safe }}
	    <input class="basic-form__submit" type="submit" value="Submit" />
	</form>
	<a href="{% url 'dashboard' %}"class="account__dashboard-link">
      {% include "common/chevron-right.svg" with class="account__chevron-left" %}
    {% trans 'Return to dashboard' %}
  </a>
{% endblock main %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'editor' 'js' %}
{% endblock %}
