# Web team developers are codeowners for all website changes
*   @freedomofpress/fpf-web-developers

# The web team manager(s) should be in the loop on all ownership modifications
.github/CODEOWNERS    @freedomofpress/fpf-web-managers
