{% extends "layout/_layout_one_column.html" %}
{% load wagtailcore_tags wagtailimages_tags static i18n %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block tor_warning %}
{% endblock %}

{% block header_classes %}
	header--blue-bright
{% endblock %}

{% block header_hexagons %}
	{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--hero" %}
{% endblock %}

{% block nav_classes %}
	nav-menu--homepage
{% endblock %}

{% block nav_logos %}
{% endblock %}

{% block page_title %}
	<div class="hero">
		<div class="hero__logo">
			{% include "common/_logo_transparent_white.svg" with class="hero__logo-svg" %}
		</div>
		<div class="hero__text">
			<h1 class="sr_only">{{ site.title }}</h1>
			{% include "common/_site_title.svg" with class="hero__title" %}
			{% if page.description_header %}
				<h2 class="hero__description-header">{{ page.description_header }}</h2>
			{% endif %}
			{% if page.description %}
				<div class="hero__description">{{ page.description|richtext }}</div>
			{% endif %}

			{% for button in page.description_buttons.all %}
				<a href="{% pageurl button.link %}" class="hero__button">
					{{ button.text }}
					{% include "common/chevron-right.svg" with class="hero__button-icon" %}
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block site_content %}
	<main>
		<div id="js-updates" class="updates">
			<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--updates" %}
			</div>
			<div class="updates__content">
				<div class="updates__item">
					<h2 class="updates__header">{% trans "Latest News" %}</h2>
					<a href="#" class="updates__link">{{ self.get_latest_blog }}</a>
				</div>
				{% with current_release=page.get_current_release %}
					{% if current_release %}
						<div class="updates__item">
							<h2 class="updates__header">{% trans "Latest Release" %}</h2>
							<h3 class="updates__tag">SecureDrop {{ current_release.tag_name }}</h3>
							<div class="updates__date">{{ current_release.date|date:"E j, Y"}}</div>
							<p>
								<a href="{{ current_release.url }}" class="updates__link--secondary">GitHub</a>
								{% if current_release.blog_page %}
									| <a href="{% pageurl current_release.blog_page %}" class="updates__link--secondary">{% trans "Release notes" %}</a>
								{% endif %}
							</p>
						</div>
					{% endif %}
				{% endwith%}
			</div>
		</div>


		<div id="js-instances" class="instances">
			<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--instances" %}
			</div>
			{% include 'common/_tor.html' with class='tor-warning--homepage'%}
			<div class="instances__content">

				<h2 class="instances__header">{{ page.instances_header }}</h2>
				{% with instances=page.instances.all %}
					<div class="instances__items">
						{% include "home/_instances.html" %}
					</div>
					<div class="instances__items instances__items--mobile">
						{% include "home/_instances.html" with instances=instances|slice:":3" %}
					</div>
				{% endwith %}
				{% for button in page.instance_button.all %}
					<a href="{% pageurl button.link %}" class="instances__button">
						{{ button.text }}
						{% include "common/chevron-right.svg" with class="instances__button-icon" %}
					</a>
				{% endfor %}
			</div>
		</div>

		<div class="features">
			{% if page.features_header %}
				<h2 class="features__header">{{ page.features_header}}</h2>
			{% endif %}
			{% include "marketing/_features_list.html" with features=page.features.all %}
			{% for button in page.features_button.all %}
				<a href="{% pageurl button.link %}" class="features__button">
					{{ button.text }}
					{% include "common/chevron-right.svg" with class="features__button-icon" %}
				</a>
			{% endfor %}
		</div>
	</main>
{% endblock site_content %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'tor' 'js' %}
{% endblock %}
