{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block page_title %}
	<div class="hero">
		<img class="hero__logo" src="{% static 'images/securedrop.png' %}" />
		<div class="hero__text">
			<h1 class="sr_only">{{ site.title }}</h1>
			{% include "common/_site_title.svg" with class="hero__title" %}
			{% if page.description_header %}
				<h2 class="hero__description-header">{{ page.description_header }}</h2>
			{% endif %}
			{% if page.description %}
				<div class="hero__description">{{ page.description|richtext }}</div>
			{% endif %}

			{% for button in page.description_buttons.all %}
				<a href="{% pageurl button.link %}"><button class="hero__button">{{ button.text }}</button></a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block header_classes %}
	header--transparent
{% endblock %}

{% block main %}
	<div class="updates">
		<div class="updates__item">
			<h2 class="updates__header">Latest News</h2>
			<a href="#">{{ self.get_latest_blog }}</a>
		</div>
		<div class="updates__item">
			<h2 class="updates__header">Latest Release</h2>
			<a href="">{{ self.get_latest_release }}</a>
		</div>
	</div>

	<div class="instances">
		<h2 class="instances__header">{{ page.instances_header }}</h2>
		<div class="instances__items">
			{% for highlighted_instance in page.instances.all %}
				<div class="instances__item">
					{% image instance.icon fill-50x50-c100 %}
					<h3 class="instances__item-header">{{ highlighted_instance.instance.organization }}</h3>
					<a href="{{ highlighted_instance.instance.landing_page_domain }}" class="instances__item-landingpage">
						{{ page.instance_link_default_text }}
					</a>
					<div class="instances__item-onion-address"><span class="instances__item-onion-address--bold">TOR address:</span> {{ highlighted_instance.instance.onion_address }}</div>
				</div>
			{% endfor %}
		</div>
		{% for button in page.instance_button.all %}
			<a href="{% pageurl button.link %}"><button class="instances__button">{{ button.text }}</button></a>
		{% endfor %}
	</div>

	<div class="features">
		{% if page.features_header %}
			<h2 class="features__header">{{ page.features_header}}</h2>
		{% endif %}
		<div class="features__items">
			{% for feature in page.features.all %}
				<div class="features__item">
					{% image feature.icon fill-50x50-c100 %}
					<h3 class="features__item-header">{{ feature.title }}</h3>
					<div class="features__item-description">{{ feature.description|richtext }}</div>
				</div>
			{% endfor %}
		</div>
		{% for button in page.features_button.all %}
			<a href="{% pageurl button.link %}"><button class="instances__button">{{ button.text }}</button></a>
		{% endfor %}
	<div>
{% endblock %}
