{% extends "layout/_layout_one_column.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block tor_warning %}
{% endblock %}

{% block header_classes %}
	header--blue-bright
{% endblock %}

{% block header_hexagons %}
	{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--hero" %}
{% endblock %}

{% block nav_classes %}
	nav-menu--homepage
{% endblock %}

{% block nav_logos %}
{% endblock %}

{% block page_title %}
	<div class="hero">
		<div class="hero__logo">
			{% include "common/_logo_transparent_white.svg" with class="hero__logo-svg" %}
		</div>
		<div class="hero__text">
			<h1 class="sr_only">{{ site.title }}</h1>
			{% include "common/_site_title.svg" with class="hero__title" %}
			{% if page.description_header %}
				<h2 class="hero__description-header">{{ page.description_header }}</h2>
			{% endif %}
			{% if page.description %}
				<div class="hero__description">{{ page.description|richtext }}</div>
			{% endif %}

			{% for button in page.description_buttons.all %}
				<a href="{% pageurl button.link %}" class="hero__button">
					{{ button.text }}
					{% include "common/chevron-right.svg" with class="hero__button-icon" %}
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block content %}
	<main>
		<div class="updates">
			<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--updates" %}
			</div>
			<div class="updates__content">
				<div class="updates__item">
					<h2 class="updates__header">Latest News</h2>
					<a href="#">{{ self.get_latest_blog }}</a>
				</div>
				<div class="updates__item">
					<h2 class="updates__header">Latest Release</h2>
					<a href="">{{ self.get_latest_release }}</a>
				</div>
			</div>
		</div>


		<div class="instances">
			<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--instances" %}
			</div>
			{% include 'common/_tor.html' with class='tor-warning--homepage'%}
			<div class="instances__content">
				<h2 class="instances__header">{{ page.instances_header }}</h2>
				<div class="instances__items">
					{% for highlighted_instance in page.instances.all %}
						<div class="instances__item">
							{% image instance.icon fill-50x50-c100 %}
							<h3 class="instances__item-header">{{ highlighted_instance.instance.organization }}</h3>
							<a href="{{ highlighted_instance.instance.landing_page_domain }}" class="instances__item-landingpage">
								{{ page.instance_link_default_text }}
							</a>
							<div class="instances__item-onion-address"><span class="instances__item-onion-address--bold">TOR address:</span> {{ highlighted_instance.instance.onion_address }}</div>
						</div>
					{% endfor %}
				</div>
				{% for button in page.instance_button.all %}
					<a href="{% pageurl button.link %}" class="instances__button">
						{{ button.text }}
						{% include "common/chevron-right.svg" with class="instances__button-icon" %}
					</a>
				{% endfor %}
			</div>
		</div>

		<div class="features">
			{% if page.features_header %}
				<h2 class="features__header">{{ page.features_header}}</h2>
			{% endif %}
			{% include "marketing/_features_list.html" with features=page.features.all %}
			{% for button in page.features_button.all %}
				<a href="{% pageurl button.link %}" class="features__button">
					{{ button.text }}
					{% include "common/chevron-right.svg" with class="features__button-icon" %}
				</a>
			{% endfor %}
		</div>
	</main>
{% endblock content %}
