db.sqlite3*
/static/
/media/
/securedrop/settings/local.py
*.pyc
__pycache__

node_modules
npm-debug.log
webpack-stats.json
# Do not make a bundles/ ignore line ;-)
/common/static/js/bundles/
/common/static/bundles/
.manage_cmds_ran/
logs/

# devops virtualenv
devops/.venv
devops/.vagrant
.molecule
.cache
*.retry

# Functional tests
geckodriver.log

# pip+docker install artifacts
src/

# developer postgres testing
import.db
db-snapshots/

# CI XML test results
test-results
