db.sqlite3*
/static/
/media/
/htmlcov/
/securedrop/settings/local.py
*.pyc
__pycache__
.pytest_cache
.coverage

node_modules
npm-debug.log
webpack-stats.json
# Ignore build files
/build/static/bundles
.manage_cmds_ran/
logs/

# devops virtualenv
devops/.venv
devops/.compile-venv
devops/.vagrant
.molecule
.cache
*.retry

# Functional tests
geckodriver.log

# pip+docker install artifacts
src/

# developer postgres testing
import.db
db-snapshots/

# CI XML test results
test-results

# developer node image building
.node_complete

# bandit static anaylis results
results.txt

# ignore Visual Studio Code
.vscode

# Docker-compose env file used for passing userid
.env

# Ignore files created to communicate system deployment info
.versioninfo

# IDE
.idea
