---
version: "3"
networks:
  app:
services:
  postgresql:
    image: postgres:9.3
    ports:
      - "127.0.0.1::5432"
    volumes:
      - ./devops/docker/postgres-scripts:/docker-entrypoint-initdb.d:ro
      - ./:/django:ro
    environment:
      POSTGRES_PASSWORD: securedroppassword
      POSTGRES_USER: securedrop
      POSTGRES_DB: securedropdb
    user: postgres
    networks:
      app:
        aliases:
          - db

  node:
    build:
      context: .
      dockerfile: devops/docker/NodeDockerfile
      args:
        NODE_VER: 6.11.0-alpine
        USERID: ${UID:?err}
    volumes:
      - ./:/django
    working_dir: /django
    command: /bin/ash -c "npm install && touch .node_complete && npm run start"
    user: ${UID:?err}
    networks:
      - app

  django:
    build:
      context: .
      dockerfile: devops/docker/DevDjangoDockerfile
      args:
        USERID: ${UID:?err}
    depends_on:
      - node
      - postgresql
    environment:
      DJANGO_DB_PASSWORD: securedroppassword
      DJANGO_DB_USER: securedrop
      DJANGO_DB_NAME: securedropdb
      DJANGO_DB_PORT: 5432
      DJANGO_DB_HOST: db
      DJANGO_LOG_PATH: /django-logs
      DJANGO_XMLTEST_OUTPUT: "yes"
      DEPLOY_ENV: dev
    working_dir: /django
    volumes:
      - ./:/django
      - ./logs:/django-logs
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      app:
        aliases:
          - app
