-e git+https://github.com/freedomofpress/django-logging.git@b7d0b7b542db6ac088dbf3d2e7b249df333d3082#egg=django-logging-json
-e git+https://github.com/nabla-c0d3/sslyze.git@ef357c2e76b6ba66f23db5fb1f95c7e8a6c13b9d#egg=pshtt-dependency-hell
asn1crypto==0.23.0        # via cryptography
beautifulsoup4==4.6.0     # via wagtail
bleach==2.1.3
certifi==2017.11.5        # via requests
cffi==1.11.2              # via cryptography
chardet==3.0.4            # via requests
click==6.7                # via safety
cryptography==2.3         # via pyopenssl
dataproperty==0.29.1      # via pytablewriter, simplesqlite, tabledata
defusedxml==0.5.0         # via python3-openid
django-allauth-2fa==0.4.4
django-allauth==0.34.0
django-analytical==2.4.0
django-anymail[mailgun]==1.4
django-csp==3.4
django-modelcluster==3.1
django-otp==0.4.1.1       # via django-allauth-2fa
django-settings-export==1.2.1
django-taggit==0.22.1     # via wagtail
django-treebeard==4.1.2   # via wagtail
django-webpack-loader==0.5.0
django==1.11.15
djangorestframework==3.6.4
docopt==0.6.2             # via pshtt
dominate==2.3.1           # via pytablewriter
dparse==0.2.1             # via safety
elasticsearch==6.0.0      # via pytablewriter
factory-boy==2.9.2
faker==0.8.7              # via factory-boy
feedparser==5.2.1
gunicorn==19.7.1
html5lib==0.999999999     # via bleach, wagtail
idna==2.6                 # via cryptography, requests
logbook==1.1.0            # via dataproperty, pytablewriter, simplesqlite, tabledata
lxml==4.1.1
markdown2==2.3.5
mbstrdecoder==0.2.2       # via pytablewriter, simplesqlite, typepy
multidict==3.3.2          # via yarl
nassl==1.0.1
oauthlib==2.0.6           # via requests-oauthlib
olefile==0.44             # via pillow
packaging==16.8           # via dparse, safety
pathvalidate==0.16.2      # via pytablewriter, simplesqlite, tabledata
pillow==4.3.0             # via wagtail
pshtt==0.3.0
psycopg2==2.7.3.2
publicsuffix==1.1.0       # via pshtt
pycparser==2.18           # via cffi
pygments==2.2.0
pyopenssl==17.5.0         # via pshtt
pyparsing==2.2.0          # via packaging
pytablewriter==0.27.1     # via pshtt
python-dateutil==2.6.1    # via faker, typepy
python-json-logger==0.1.8
python3-openid==3.1.0     # via django-allauth
pytz==2017.3              # via django, django-modelcluster, typepy
pyyaml==3.12              # via dparse, vcrpy
qrcode==5.3               # via django-allauth-2fa
requests-cache==0.4.13    # via pshtt
requests-oauthlib==0.8.0  # via django-allauth
requests==2.18.4          # via django-allauth, django-anymail, pshtt, requests-cache, requests-oauthlib, safety, wagtail
safety==1.6.1
simplesqlite==0.19.0      # via pytablewriter
six==1.11.0               # via bleach, cryptography, django-anymail, dparse, faker, html5lib, mbstrdecoder, packaging, pyopenssl, pytablewriter, python-dateutil, qrcode, simplesqlite, tabledata, typepy, unittest-xml-reporting, vcrpy
tabledata==0.0.5          # via pytablewriter, simplesqlite
text-unidecode==1.1       # via faker
tls-parser==1.1.1
toml==0.9.3.1             # via pytablewriter
typepy==0.0.20            # via dataproperty, pytablewriter, simplesqlite, tabledata
typing==3.6.4             # via nassl, tls-parser
unidecode==0.4.21         # via wagtail
unittest-xml-reporting==2.1.0
urllib3==1.22             # via elasticsearch, requests
vcrpy==1.11.1
wagtail-factories==0.3.0
wagtail-metadata==0.3.1
wagtail==1.12.3
webencodings==0.5.1       # via html5lib
wget==3.2                 # via pshtt
willow==0.4               # via wagtail
wrapt==1.10.11            # via vcrpy
xlsxwriter==1.0.2         # via pytablewriter
xlwt==1.3.0               # via pytablewriter
yarl==0.15.0              # via vcrpy
zxcvbn-python==4.4.18
