-e git+https://github.com/freedomofpress/django-logging.git@b7d0b7b542db6ac088dbf3d2e7b249df333d3082#egg=django-logging-json
-e git+https://github.com/nabla-c0d3/sslyze.git@ef357c2e76b6ba66f23db5fb1f95c7e8a6c13b9d#egg=pshtt-dependency-hell
bleach>=2.1.4
Django>=2.1,<2.2
django-analytical>=2.4
django-anymail[mailgun]>=1.4
django-modelcluster
django-settings-export
django-webpack-loader
djangorestframework
factory_boy
feedparser
gunicorn
lxml
markdown2>=2.3.7
pshtt==0.3.0
psycopg2
pygments
python-json-logger
tldextract
tinycss2
vcrpy
wagtail>=2.3,<2.4
wagtail-factories
wagtail-metadata
wagtail-autocomplete
unittest-xml-reporting
django-allauth==0.34.0
django-allauth-2fa
django-csp
zxcvbn-python
requests>=2.20.0
urllib3>=1.23
