cryptography>=49.0.0
django-anymail[mailgun]>=15.0
django-csp>=3.7
django-modelcluster>=6.2.1
django-settings-export
django-storages[google]>=1.14.6
django-webpack-loader
Django>=5.2.13,<6.0
djangorestframework
factory_boy
feedparser
gunicorn>=26.0.0
lxml>=6.1.1
pillow>=12.3.0
psycopg[binary]
pygments>=2.20.0
requests>=2.34.2
structlog
tinycss2
tldextract
unittest-xml-reporting
wagtail-autocomplete>=0.12.0
wagtail-factories>=4.5.0
wagtail-honeypot
wagtail-inventory
wagtail-metadata>=5.0.0
wagtail>=7.4.2,<8.0
wagtailmedia>=0.14.5
whitenoise
