-e git+https://github.com/freedomofpress/django-logging.git@b7d0b7b542db6ac088dbf3d2e7b249df333d3082#egg=django-logging-json
-e git+https://github.com/nabla-c0d3/sslyze.git@ef357c2e76b6ba66f23db5fb1f95c7e8a6c13b9d#egg=pshtt-dependency-hell
asn1crypto==0.23.0        # via cryptography
beautifulsoup4==4.6.0     # via wagtail
bleach==3.0.2
certifi==2017.11.5        # via requests
cffi==1.11.2              # via cryptography
chardet==3.0.4            # via mbstrdecoder, requests
cryptography==2.3         # via pyopenssl
dataproperty==0.36.0      # via pytablewriter, tabledata
defusedxml==0.5.0         # via python3-openid
django-allauth-2fa==0.6
django-allauth==0.39.1
django-analytical==2.4.0
django-anymail[mailgun]==1.4
django-csp==3.4
django-modelcluster==4.3
django-otp==0.4.1.1       # via django-allauth-2fa
django-settings-export==1.2.1
django-taggit==0.23.0     # via wagtail
django-treebeard==4.3     # via wagtail
django-webpack-loader==0.5.0
django==2.1.10
djangorestframework==3.9.1
docopt==0.6.2             # via pshtt
dominate==2.3.5           # via pytablewriter
draftjs-exporter==2.0.0   # via wagtail
factory-boy==2.9.2
faker==0.8.7              # via factory-boy
feedparser==5.2.1
gunicorn==19.7.1
html5lib==0.999999999     # via wagtail
idna==2.6                 # via cryptography, requests, tldextract
logbook==1.1.0            # via pytablewriter, tabledata
lxml==4.1.1
markdown2==2.3.7
mbstrdecoder==0.5.0       # via dataproperty, pytablewriter, typepy
msgfy==0.0.4              # via pytablewriter
multidict==3.3.2          # via yarl
nassl==1.0.1
oauthlib==2.0.6           # via requests-oauthlib
olefile==0.44             # via pillow
pathvalidate==0.21.4      # via pytablewriter, tabledata
pillow==4.3.0             # via wagtail
pshtt==0.3.0
psycopg2==2.7.3.2
publicsuffix==1.1.0       # via pshtt
pycparser==2.18           # via cffi
pygments==2.2.0
pyopenssl==17.5.0         # via pshtt
pytablewriter==0.36.1     # via pshtt
python-dateutil==2.7.5    # via faker, typepy
python-json-logger==0.1.8
python3-openid==3.1.0     # via django-allauth
pytz==2018.7              # via django, django-modelcluster, typepy, wagtail
pyyaml==3.12              # via vcrpy
qrcode==5.3               # via django-allauth-2fa
requests-cache==0.4.13    # via pshtt
requests-file==1.4.3      # via tldextract
requests-oauthlib==0.8.0  # via django-allauth
requests==2.20.0
six==1.11.0               # via bleach, cryptography, django-anymail, faker, html5lib, mbstrdecoder, pyopenssl, pytablewriter, python-dateutil, qrcode, requests-file, tabledata, typepy, unittest-xml-reporting, vcrpy, wagtail
tabledata==0.0.25         # via pytablewriter
text-unidecode==1.1       # via faker
tinycss2==0.6.1
tldextract==2.2.0
tls-parser==1.1.1
typepy[datetime]==0.3.0   # via dataproperty, pytablewriter, tabledata
unidecode==0.4.21         # via wagtail
unittest-xml-reporting==2.1.0
urllib3==1.24.1
vcrpy==1.11.1
wagtail-autocomplete==0.1.1
wagtail-factories==1.1.0
wagtail-metadata==2.0.1
wagtail==2.3
webencodings==0.5.1       # via bleach, html5lib, tinycss2
wget==3.2                 # via pshtt
willow==1.1               # via wagtail
wrapt==1.10.11            # via vcrpy
yarl==0.15.0              # via vcrpy
zxcvbn-python==4.4.18
