bleach>=4.1.0
cryptography>=46.0.7
django-anymail[mailgun]>=1.4
django-csp>=3.7
django-modelcluster>=6.2.1
django-settings-export
django-storages[google]>=1.14.6
django-webpack-loader
Django>=5.2.13,<6.0
djangorestframework
factory_boy
feedparser
gunicorn>=20.1.0
lxml>=6.1.0
pillow>=12.2.0
psycopg2>=2.9.9
pygments>=2.20.0
python-json-logger
requests>=2.33.1
structlog
tinycss2
tldextract
unittest-xml-reporting
wagtail-autocomplete>=0.12.0
wagtail-factories>=4.1.0
wagtail-honeypot
wagtail-metadata>=5.0.0
wagtail>=6.3.8,<6.4
wagtailmedia>=0.14.5
whitenoise
