{% load wagtailcore_tags wagtailimages_tags i18n %}

<tr class="instance-table__row">
	<td class="instance-table__icon-column">
		{% if instance.specific.organization_logo_square %}
			{% image instance.specific.organization_logo_square width-144 preserve-svg class="instance-table__icon" %}
		{% elif instance.specific.organization_logo %}
			{% image instance.specific.organization_logo width-144 preserve-svg class="instance-table__icon" %}
		{% else %}
			{% include "common/_hexagon.svg" with class="instance-table__icon" category_slug="instance-table" %}
		{% endif %}
	</td>
	<td class="instance-table__org">
		<a class="instance-table__link" href="{% pageurl instance %}">
			<h3 class="instance-table__org-name">
				{{instance.title}}{% include "common/chevron-right.svg" with class="instance-table__chevron" %}
			</h3>
		</a>
		{% if instance.specific.organization_description %}
			<div class="instance-table__org-description">
				{{ instance.specific.organization_description|richtext|truncatewords_html:20 }}
			</div>
		{% endif %}
		{% include "directory/_tag-list.html" with page=instance.specific directory=page %}
	</td>
	{% if settings.directory.DirectorySettings.show_scan_results %}
		<td class="instance-table__grade-column">
			<div class="instance-table__grade instance-table__grade--{{instance.specific.results.latest.grade}}">
				{{instance.specific.results.latest.grade}}
			</div>
		</td>
	{% endif %}
</tr>
