{% load i18n %}

<div class="instance-instructions">
	<h1 class="instance-instructions__title">{% trans "Planning to submit information?" %}</h1>
	<p>
		{% blocktrans with organization=page.title %}
			The button below will take you to {{ organization }}’s landing page,
			which will provide more details about how to submit files to their SecureDrop instance.
		{% endblocktrans %}
	</p>
	<p>
		Because the landing page is linked in our directory, it was found to be in compliance with
		our strict security requirements.
	<p>
		{% blocktrans with organization=page.title onion=page.full_onion_address %}
			As part of the submission process, we have confirmed {{ organization }}’s SecureDrop to be
			available at the following .onion addresses:
			<br />
			<br />
			<span class="instance-instructions__onion-address">{{ onion }}</span>
		{% endblocktrans %}
		{% if page.onion_name %}
			{% blocktrans with onion_name=page.onion_name %}
				<br />
				<span class="instance-instructions__onion-address">{{ onion_name }}</span>
				<br />
				<br />
			{% endblocktrans %}
		{% endif %}
	</p>
	<p>
		{% blocktrans %}
			Please ensure the .onion address you are directed to visit matches an address above.
			This helps ensure you are visiting a legitimate SecureDrop instance. See our
			<a href="https://docs.securedrop.org/en/stable/source.html">Source Guide</a>
			for more information on SecureDrop usage and risks.
	</p>
	<p>
			Note that this .onion address will be different than the .onion address you
			will see in your browser's address bar above, if you are visiting this page
			using the Tor Browser.
		{% endblocktrans %}
	</p>
	<p>

		{% if settings.directory.DirectorySettings.report_error_page %}
			{% blocktrans with report_error_page=settings.directory.DirectorySettings.report_error_page.url %}
				If you encounter a mismatch, make sure to report an error
				<a href="{{ report_error_page }}">here</a>.
			{% endblocktrans %}
		{% elif settings.directory.DirectorySettings.contact_gpg %}
			{% blocktrans with contact_email=settings.directory.DirectorySettings.contact_email contact_email_escaped=settings.directory.DirectorySettings.contact_email|escape contact_gpg=settings.directory.DirectorySettings.contact_gpg.url %}
				If you encounter a mismatch, please contact us at
				<a href="mailto:{{ contact_email_escaped }}">{{ contact_email }}</a>
				(<a href="{{ contact_gpg }}">GPG</a>).
			{% endblocktrans %}
		{% else %}
			{% comment %}
				Honestly, this probably should not be allowed, but since we can't
				set a default GPG key in the database, since it's a file, I've
				accounted for the possibility that one isn't set at least for dev
				environments.
			{% endcomment %}
			{% blocktrans with contact_email=settings.directory.DirectorySettings.contact_email contact_email_escaped=settings.directory.DirectorySettings.contact_email|escape %}
				If you encounter a mismatch, please contact us at
				<a href="mailto:{{ contact_email_escaped }}">{{ contact_email }}</a>.
			{% endblocktrans %}
		{% endif %}

		{% blocktrans %}
			This could be evidence of an attempted attack, or it could be a simple
			failure to communicate between an organization running SecureDrop and
			Freedom of the Press Foundation.
			In either case, we will investigate the matter and establish a path to
			resolution.
		{% endblocktrans %}

	</p>

	{% if show_warnings %}
		<div class="instance-alert instance-alert--{% if highest_warning_level.is_moderate %}moderate{% endif %}{% if highest_warning_level.is_severe %}severe{% endif %}">
			{% if highest_warning_level.is_moderate %}
				{% include "common/_svg.html" with class="instance-alert__icon" svg="images/instance-status/Warning.svg" img="images/instance-status/Warning.png" alt="Moderate Warning Icon" %}
			{% elif highest_warning_level.is_severe %}
				{% include "common/_svg.html" with class="instance-alert__icon" svg="images/instance-status/Error.svg" img="images/instance-status/Error.png" alt="Severe Warning Icon" %}
			{% endif %}
			<div class="instance-alert__content">
				{% for warning in warning_messages %}
					<p>{{ warning|safe }}</p>
				{% endfor %}
				{% if highest_warning_level.is_severe %}
					{% blocktrans %}
						<p>We strongly advise you to only visit this landing page <a href="https://www.torproject.org/download/download-easy.html.en">using the Tor browser</a>, with the <a href="https://tb-manual.torproject.org/en-US/security-slider.html">security slider</a> set to "safest".</p>
					{% endblocktrans %}
				{% elif highest_warning_level.is_moderate %}
					{% blocktrans %}
						<p>We recommend only visiting this SecureDrop landing page <a href="https://www.torproject.org/download/download-easy.html.en">using the Tor browser</a>.</p>
					{% endblocktrans %}
				{% endif %}
			</div>
		</div>
	{% endif %}

	<a href="{{ page.landing_page_url }}" class="instance-instructions__landing-page-button{% if highest_warning_level.is_severe %}--danger{% endif %}{% if highest_warning_level.is_moderate %}--warning{% endif %}">
		<div class="instance-instructions__landing-page-button-text{% if highest_warning_level.is_severe %}--danger{% endif %}{% if highest_warning_level.is_moderate %}--warning{% endif %}">
			{% blocktrans with title=page.title %}
				{{ title }}’s landing page
			{% endblocktrans %}
		</div>
		<div class="instance-instructions__landing-page-button-url{% if highest_warning_level.is_severe %}--danger{% endif %}{% if highest_warning_level.is_moderate %}--warning{% endif %}">
			{{ page.landing_page_url }}
		</div>
		{% if highest_warning_level.is_moderate %}
			{% include "common/chevron-right.svg" with class="instance-instructions__landing-page-button-chevron--warning" %}
		{% elif highest_warning_level.is_severe %}
			{% include "common/chevron-right.svg" with class="instance-instructions__landing-page-button-chevron--danger" %}
		{% endif %}
	</a>
</div>