{% extends "layout/_layout_sidebar.html" %}

{% load wagtailcore_tags wagtailimages_tags querydict_update static%}
{% load render_bundle from webpack_loader %}

{% block header_classes %}
    header--slate
{% endblock %}

{% block main_classes %}
	{{ block.super }}
	layout-sidebar--directory
{% endblock %}

{% block layout_sidebar_classes %}
	layout-sidebar--directory
{% endblock %}

{% block main %}
	<section class="directory-body">
		{{ page.body|richtext }}
	</section>
	<section class="instance-list">
		<form class="filter-form" method="GET">
			<div class="filters">
				<div class="filters__wrapper filters__wrapper--search">
					<input class="filters__field filters__field--search" name='search' placeholder="Search instances..." />
				</div>
				<div class="filters__wrapper">
					<select name='language' class="filters__field filters__field--select">
						<option {% if not entries_filters.languages %}selected{% endif %} disabled>Language Accepted</option>
						<option value="None">Any language</option>
						{% for language in all_filters.languages %}
							<option {% if entries_filters.languages == language %}selected{%endif%} value="{{language.id}}">{{language.title}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="filters">
				<div class="filters__wrapper">
					<select name="country" label="Country" class="filters__field filters__field--select">
						<option {% if not entries_filters.countries %}selected{% endif %} disabled>Country</option>
						<option value="None">Any country</option>
						{% for country in all_filters.countries %}
							<option {% if entries_filters.countries == country %}selected{%endif%} value="{{country.id}}">{{country.title}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="filters__wrapper">
					<select name="topic" label="Topic" class="filters__field filters__field--select">
						<option {% if not entries_filters.topics %}selected{% endif %}  disabled>Topic</option>
						<option value="None">Any topic</option>
						{% for topic in all_filters.topics %}
							<option {% if entries_filters.topics == topic %}selected{%endif%} value="{{topic.id}}">{{topic.title}}</option>
						{% endfor %}
					</select>
				</div>
				<input type="image" src="{% static "images/chevron-right.svg" %}" alt="submit" name="submit" class="filters__submit">
			</div>
			<div class="filters__clear">
				<a href="{% pageurl page %}">Clear Filters</a>
			</div>
		</form>
		<table class="instance-table">
				<thead class="instance-table__head">
					<tr>
						<th colspan="2" class="instance-table__title">Organization</th>
						<th class="instance-table__title instance-table__title--security">
							Security
							{% if page.faq_link %}
								<a class="instance-table__faq-link" href="{% pageurl page.faq_link %}">
									{% include "common/question-circle.svg" with class="instance-table__question-circle" %}
									<div class="sr-only">More information about security grades</div></a>
							{% endif %}
						</th>
					</tr>
				</thead>
				<tbody>
					{% for instance in entries_page %}
						<tr class="instance-table__row">
							<td class="instance-table__icon">
								<a class="instance-table__link" href="{% pageurl instance %}">
									{% if instance.specific.organization_logo %}
										{% image instance.specific.organization_logo width-144 %}
									{% else %}
										{% include "common/_hexagon.svg" with class="instance-table__hexagon" category_slug="instance-table" %}
									{% endif %}
								</a>
							</td>
							<td class="instance-table__org">
								<a class="instance-table__link" href="{% pageurl instance %}">
									<h3 class="instance-table__org-name">{{instance.title}}</h3>
									{% if instance.specific.organization_description %}
										<div class="instance-table__org-description">
											{{ instance.specific.organization_description|richtext|truncatewords_html:20 }}
										</div>
									{% endif %}
									{% include "directory/_tag-list.html" with page=instance.specific directory=page %}
								</a>
							</td>
							<td class="instance-table__grade-column">
								<a class="instance-table__link" href="{% pageurl instance %}">
									<div class="instance-table__grade instance-table__grade--{{instance.specific.results.latest.grade}}">
										{{instance.specific.results.latest.grade}}
									</div>
								</a>
							</td>
						</a></tr>
					{% empty %}
					<p>No instances match those filter criteria</p>
					{% endfor %}
				</tbody>
			</table>
			<nav aria-label="Page navigation">
				{% if entries_page.has_previous %}
					{% querydict_update request.GET page=entries_page.previous_page_number as qdict_previous %}
					<a class="pagination__link--button pagination__link--previous" aria-label="Previous" href="?{{ qdict_previous.urlencode }}">
						{% include "common/chevron-right.svg" with class="pagination__icon--previous" %}
						Previous
					</a>
				{% endif %}
				{% if entries_page.has_next %}
					{% querydict_update request.GET page=entries_page.next_page_number as qdict_next %}
					<a class="pagination__link--button pagination__link--next" aria-label="Next" href="?{{ qdict_next.urlencode }}">
						Next
						{% include "common/chevron-right.svg" with class="pagination__icon--next" %}
					</a>
				{% endif %}
			</nav>
	</section>
{% endblock main %}

{% block sidebar %}
	<section class="source-warning">
		{% include "common/info-circle.svg" with class="source-warning__info-icon" %}
		<span class="source_warning__text">{{ page.source_warning|richtext }}</span>
	</section>
	<section class="submit-instance">
		<h2 class="submit-instance__title">
			{{ page.submit_title }}
		</h2>
		<div class="submit-instance__body">
			{{ page.submit_body|richtext }}
		</div>
		<div class="submit-instance__buttons">
			<a href="{{page.url}}scan" class="submit-instance__button">
				{{ page.submit_button_text }}
				{% include "common/chevron-right.svg" with class="submit-instance__button-icon" %}
			</a>
			<a href="{% url 'dashboard' %}" class="submit-instance__button submit-instance__button--dashboard">
				{{ page.manage_instances_text }}
				{% include "common/chevron-right.svg" with class="submit-instance__button-icon" %}
			</a>
		</div>
	</section>
{% endblock sidebar %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'tor' 'js' %}
{% endblock %}
