{% extends "layout/_layout_one_column.html" %}
{% load wagtailcore_tags %}
{% load render_bundle from webpack_loader %}

{% block header_classes %}
    header--slate
{% endblock %}

{% block page_title_text %}
	{{form_title}}
{% endblock %}

{% block main %}
	{{text|richtext}}
		<form action="{{ submit_url }}" method="post" class="basic-form">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit" class="basic-form__submit" />
		</form>
{% endblock %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'editor' 'js' %}
{% endblock %}
