{% extends "layout/_layout_equal_columns.html"%}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags result_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block header_classes %}
	header--slate
{% endblock %}

{% block page_title %}
{% endblock page_title %}

{% block top%}
	<div class="instance-title">
		{% if page.organization_logo %}
			<div class="instance-title__logo">
				{% image page.organization_logo max-400x160 preserve-svg as image_1x %}
				{% image page.organization_logo max-800x320 preserve-svg as image_2x %}
				<img {{ image_1x.attrs }} srcset="{{ image_1x.url }} 1x, {{ image_2x.url }} 2x" />
			</div>
		{% endif %}
		<h1 id="title" class="instance-title__header {% if page.organization_logo_is_title %}sr-only{% endif %}">
			{{ page.title }}
		</h1>
	</div>
{% endblock top %}


{% block column_one %}
	{% if page.delisted == 'down' %}
		{% include "directory/_instance_maintenance_alert.html" %}
	{% elif page.delisted != None %}
		{% include "directory/_instance_alert.html" %}
	{% else %}
		{% include "directory/_instance_instructions.html" %}
	{% endif %}
{% endblock column_one %}

{% block column_two %}

	<div class="instance-description">
		{{ page.organization_description|richtext }}
	</div>

	{% include "directory/_tag-list.html" with directory=page.get_parent %}

	{% if settings.directory.DirectorySettings.show_scan_results %}
		<div class="security_grade">
			<div class="security_grade__text">
				{{ settings.directory.DirectorySettings.grade_text }}:
			</div>
			<div class="security_grade__grade security_grade__grade--{{ page.results.latest.grade }}">
				{{ page.results.latest.grade }}
			</div>
		</div>
		{% result_groups page.get_live_result False settings.directory.DirectorySettings.no_results_text %}
	{% endif %}

	<a href="{% pageurl page.get_parent %}" class="instance-directory-button"/>
		{% trans "Back to SecureDrop Directory" %}
		{% include "common/chevron-right.svg" with class="instance-directory-button__chevron" %}
	</a>

{% endblock column_two %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'tor' 'js' %}
{% endblock %}
