{% extends "layout/_layout_one_column.html" %}
{% load wagtailcore_tags i18n%}

{% block site_title %}
	{{ form_title }}
{% endblock %}

{% block header_classes %}
		header--slate
{% endblock %}

{% block page_title_text %}
	{{ form_title }}
{% endblock %}

{% block main %}
	<div class='scanner-form'>
		{{ text|richtext }}
	</div>

	<form id="js-scanner-form" action="{{ submit_url }}" method="post" class="basic-form" novalidate>
		{% csrf_token %}
		{{ form.as_p }}
		<input id='js-submit-button' type="submit" value="Submit" class="basic-form__submit" />
	</form>
	<div id="js-spinner" class="spinner spinner--hidden">
		<p>{% trans "Scanning . . ." %}</p>
		{% include "common/spinner.svg" %}
	</div>
{% endblock %}
