{% extends "layout/_layout_one_column.html" %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block site_title %}
	{{ thank_you_title }}
{% endblock %}

{% block header_classes %}
	header--slate
{% endblock %}

{% block page_title_text %}
	{{ thank_you_title }}
{% endblock %}

{% block main %}
  <div class='thanks'>
	{{ text|richtext }}
    <a href="{{directory_link}}">{% include "common/chevron-right.svg" with class="thanks__chevron" %}{% trans "Return to directory" %}</a>
  </div>
{% endblock %}
