=layout-x
	width: 100%
	padding-left: 1rem
	padding-right: 1rem
	+media-breakpoint-only(extra-small)
		padding-left: 2rem
		padding-right: 2rem
	+media-breakpoint-only(small)
		padding-left: $layout-padding
		padding-right: $layout-padding
	+media-breakpoint-up(medium)
		padding-left: 2*$layout-padding
		padding-right: 2*$layout-padding

	+media-breakpoint-up(large)
		width: 1200px
		margin-left: auto
		margin-right: auto

=layout-y
	padding-top: $layout-padding
	padding-bottom: $layout-padding
	+media-breakpoint-down(extra-small)
		padding-top: 2rem
		padding-bottom: 2rem
	+media-breakpoint-down(tiny)
		padding-top: 1rem
		padding-bottom: 1rem

=layout-y--no-tiny-breakpoint
	padding-top: $layout-padding
	padding-bottom: $layout-padding
	+media-breakpoint-down(extra-small)
		padding-top: 2rem
		padding-bottom: 2rem
