.features
	display: flex
	flex-direction: column
	align-items: center
	padding: 3rem 4rem

.features__header
	flex-basis: 75%
	font-size: 3rem
	text-align: center

.features__items
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	flex-wrap: wrap
	width: 70%

	+media-breakpoint-down(extra-small)
		flex-basis: 75%
		justify-content: center

.features__item
	flex-basis: 20rem
	margin-left: 2rem
	margin-bottom: 1rem

	+media-breakpoint-down(extra-small)
		flex-basis: 100%
		margin-left: 0

.features__button
	color: $white
	border: none
	border-radius: $button-border-radius
	background-color: $brand-primary
	padding: $button-padding 1.5rem
