.features
	display: flex
	flex-direction: column
	align-items: center
	+layout-x
	+layout-y--no-tiny-breakpoint

.features__header
	text-align: center
	margin-bottom: 2rem
	font-size: $homepage-section-heading-font-size
	+media-breakpoint-down(extra-small)
		font-size: $homepage-section-heading-font-size--small

.features__button
	+button-large
	+button-solid--blue
	margin-top: 3rem
	+media-breakpoint-down(extra-small)
		margin-top: 2rem

.features__button-icon
	+text-chevron--right(large)
