.instances
	+layout-y--no-tiny-breakpoint
	color: $white
	+sd-gradient($slate1,$slate2)
	position: relative

// This class is added via javascript
.instances--tor-warning
	+media-breakpoint-up(small)
		padding-top: 0

.instances__content
	+layout-x
	display: flex
	flex-direction: column
	align-items: center
	position: relative
	z-index: $z-hexagons__content

.instances__header
	margin-bottom: 2rem
	text-align: center
	font-size: $homepage-section-heading-font-size
	+media-breakpoint-down(extra-small)
		font-size: $homepage-section-heading-font-size--small

.instances__items
	display: flex
	flex-wrap: wrap
	justify-content: center
	width: 100%
	margin: 0 -1rem

	+media-breakpoint-down(extra-small)
		display: none

.instances__items--mobile
	display: none

	+media-breakpoint-down(extra-small)
		display: flex
		flex-direction: column
		width: auto
		margin: 0 auto

.instances__item
	flex-basis: 50%
	padding: 0 1rem
	margin-bottom: 2rem
	display: flex
	align-items: flex-start
	text-decoration: none
	color: inherit
	+media-breakpoint-down(extra-small)
		flex-basis: 100%
		padding: 0
	+media-breakpoint-down(tiny)
		flex-direction: column
		text-align: center
		margin-bottom: 3rem
	&:hover, &:active, &:focus
		text-decoration: none
		color: inherit

.instances__logo
	width: 6rem
	margin-right: 2rem
	flex-shrink: 0
	flex-grow: 0
	// Optically align logos with top of text
	margin-top: .5rem
	+media-breakpoint-between(extra-small,small)
		width: 4rem
		margin-right: 1rem
	+media-breakpoint-down(tiny)
		margin-bottom: 1rem
		margin-right: 0

.instances__logo--hexagon
	polygon
		fill: $white

.instances__item-header
	margin: 0
	font-size: 1.5rem

.instances__item-description
	font-size: 0.9rem
	font-weight: $sans-light

.instances__item-link
	+button-base
	+button-transition
	color: rgba($white, .9)
	border: 1px solid rgba($white, .4)
	background: transparent
	margin-top: .5rem
	font-weight: $sans-light
	.instances__item:hover &
		background-color: rgba($white, .2)
		border: 1px solid rgba($white, .4)
	padding: 0.08rem 0.4rem 0 0.4rem
	font-size: 0.8rem

.instances__button
	+button-large
	+button-solid--white
	margin-top: 2rem
	+media-breakpoint-down(extra-small)
		margin-top: 1rem

.instances__button-icon
	+text-chevron--right(large)
