.instances
	+layout-y--no-tiny-breakpoint
	color: $white
	+sd-gradient($slate1,$slate2)
	position: relative

.instances--tor-warning
	+media-breakpoint-up(small)
		padding-top: 0

.instances__content
	+layout-x
	display: flex
	flex-direction: column
	align-items: center
	position: relative
	z-index: $z-hexagons__content

.instances__header
	margin-bottom: 2rem
	text-align: center
	font-size: $homepage-section-heading-font-size
	+media-breakpoint-down(extra-small)
		font-size: $homepage-section-heading-font-size--small

.instances__items
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	width: 100%

	+media-breakpoint-down(extra-small)
		display: none

.instances__items--mobile
	display: none

	+media-breakpoint-down(extra-small)
		display: flex
		flex-direction: column
		width: auto
		margin: 0 auto

.instances__item
	flex-basis: 48%
	margin-bottom: 2rem
	display: flex
	align-items: center
	+media-breakpoint-down(extra-small)
		flex-basis: 100%
	+media-breakpoint-down(tiny)
		flex-direction: column
		text-align: center
		margin-bottom: 3rem

.instances__logo
	width: 6rem
	margin-right: 2rem
	flex-shrink: 0
	flex-grow: 0
	+media-breakpoint-between(extra-small,small)
		width: 4rem
		margin-right: 1rem
	+media-breakpoint-down(tiny)
		margin-bottom: 1rem
		margin-right: 0

.instances__logo--hexagon
	polygon
		fill: $white

.instances__item-header
	margin: 0
	font-size: 1.5rem

.instances__item-description
	font-size: 0.8rem
	font-style: italic

.instances__item-link
	display: block
	margin-top: 0.5rem
	+link--underline(inherit, $gray10)

.instances__button
	+button-large
	+button-solid--white
	margin-top: 2rem
	+media-breakpoint-down(extra-small)
		margin-top: 1rem

.instances__button-icon
	+text-chevron--right(large)
