.instances
	+layout-y
	color: $white
	+sd-gradient($slate1,$slate2)

.instances__content
	+layout-x--more-padding-on-extra-small
	display: flex
	flex-direction: column
	align-items: center

.instances__header
	flex-basis: 75%
	font-size: 3rem
	margin-bottom: 2rem
	text-align: center

.instances__items
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	flex-wrap: wrap
	width: 100%

.instances__item
	flex-basis: 20rem
	margin-left: 2rem
	margin-bottom: 1rem
	line-height: 1.5

	+media-breakpoint-down(extra-small)
		flex-basis: 100%
		margin-left: 0

.instances__item-header
	margin: 0
	font-size: 1.5rem

.instances__item-landingpage
	display: block
	margin-bottom: 0.75rem
	+link--underline(inherit, $gray10)

.instances__item-onion-address--bold
	font-weight: $sans-bold

.instances__button
	color: $black
	background-color: $white
	border-radius: $button-border-radius
	padding: $button-padding
	border: 1px solid $black
