$hero-overlap: 7rem

.updates
	padding-top: $layout-padding + $hero-overlap
	padding-bottom: $layout-padding + 0.5*$homepage-tor-warning-height
	// ensures that the hero overlaps (with hexagons)
	margin-top: -$hero-overlap
	position: relative
	z-index: $z-hexagons__background--updates

.updates__content
	+layout-x
	display: flex
	justify-content: center
	align-items: flex-start
	flex-wrap: wrap
	position: relative
	z-index: $z-hexagons__content--updates

.updates__header
	+uppercase
	font-size: 1rem

.updates__item
	padding: 1rem
	flex-basis: 25rem
