$hero-overlap: 5.2rem

.updates
	padding-top: $hero-overlap
	// ensures that the hero overlaps (with hexagons)
	margin-top: -$hero-overlap
	position: relative
	z-index: $z-hexagons__background--updates
	+media-breakpoint-up(small)
		padding-bottom: 0.5*$homepage-tor-warning-height

.updates--tor-warning
	padding-bottom: $layout-padding + 0.5*$homepage-tor-warning-height

.updates__content
	+layout-x
	+layout-y--no-tiny-breakpoint
	display: flex
	justify-content: center
	align-items: flex-start
	flex-wrap: wrap
	position: relative
	z-index: $z-hexagons__content--updates

.updates__header
	+uppercase
	font-size: 1rem

.updates__item
	padding: 1rem
	flex-basis: 25rem
