$hero_background: $brand-secondary

.hero
	color: $white
	background-color: $brand-secondary
	height: 30rem
	padding: 4rem 2rem
	display: flex
	justify-content: center
	align-items: center
	// move it above the rest of the page (anticipaing hexagons)
	z-index: 10

.hero__text
	flex-basis: 40rem

.hero__title
	+uppercase

.hero__description
	margin-bottom: 1rem
	.rich-text
		+p-remove-first-and-last-margin
		p
			width: 20rem


.hero__button
	color: white
	background-color: transparent
	border: 1px solid $white
	border-radius: $button-border-radius
	padding: $button-padding

