$features-list-item-margin-bottom: 0.5rem
$features-list-item-padding: 1rem

.features-list
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	width: 100%
	margin-bottom: -$features-list-item-margin-bottom

	+media-breakpoint-down(extra-small)
		flex-direction: column
		margin: 0

.features-list__item
	flex-basis: 48%
	display: flex
	align-items: center
	justify-content: space-around
	border-radius: $button-border-radius
	padding: $features-list-item-padding
	margin: 0 -1*$features-list-item-padding $features-list-item-margin-bottom -1*$features-list-item-padding
	+link--no-underline(inherit, inherit)

	+media-breakpoint-down(extra-small)
		flex-basis: 100%

	+media-breakpoint-down(tiny)
		border-radius: 0

	+hover
		background-color: $gray10

.features-list__item-image
	width: 6rem


.features-list__item-text
	+p-remove-first-and-last-margin
	margin-left: 1rem

.features-list__item-heading
	font-weight: $sans-bold
	margin-bottom: 0.5rem

.features-list__chevron
	+chevron-large
	flex-grow: 0
	flex-shrink: 0
