@use "base/mixins/breakpoints";
@use "base/mixins/buttons";
@use "base/mixins/colors";
@use "base/mixins/layout";
@use "base/mixins/links";
@use "base/mixins/lists";
@use "base/mixins/utilities";
@use "base/variables";
@use "sass:math";

$support-background-color: variables.$gray90;
$links-background-color: variables.$brand-primary-text;
$list-bottom-padding: 2rem;

.footer__line-wrapper {
	display: flex;
	min-height: 15rem;

	@include breakpoints.media-breakpoint-down(extra-small) {
		flex-direction: column;
	}
}

.support {
	background-color: $support-background-color;
	color: variables.$white;

	// as a flex-child
	flex-basis: 80%;

	// as a flex-parent
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	@include layout.layout-x;
	@include layout.layout-y-no-tiny-breakpoint;
	min-height: 15rem;
}

.support__title {
	margin: 0;
	padding: 0;
}

// .support__nav

.support__nav-list {
	@include lists.list-unstyled;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	align-content: space-around;
	width: 100%;
	text-align: center;

	@include breakpoints.media-breakpoint-down(tiny) {
		flex-flow: column nowrap;
		align-items: center;
	}
}

.support__nav-item {
	width: 50%;

	@include breakpoints.media-breakpoint-down(tiny) {
		width: 100%;
	}
}

.support__nav-link {
	@include links.link-no-underline(variables.$gray10-text, variables.$white);
}

.footer-links {
	background-color: $links-background-color;
	color: variables.$white;

	@include layout.layout-x;
	@include layout.layout-y-no-tiny-breakpoint;

	// as a flex-child
	flex-basis: 20%;

	// as a flex-parent
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	@include breakpoints.media-breakpoint-only(extra-small) {
		flex-direction: row;
	}
}

.footer-links__donate,
.footer-links__contribute {
	@include buttons.button-large;
	width: 10rem;
	max-width: 100%;

	@include breakpoints.media-breakpoint-down(extra-small) {
		width: 15rem;
	}
}

.footer-links__donate {
	@include buttons.button-solid($links-background-color, variables.$white, rgba(variables.$white, 0.6));
	margin-bottom: 2rem;

	@include breakpoints.media-breakpoint-only(extra-small) {
		margin-bottom: 0;
		margin-right: 2rem;
	}
}

.footer-links__contribute {
	@include buttons.button-outline(variables.$white, $links-background-color, rgba(variables.$white, 0.6));
}

.footer-main {
	@include colors.sd-gradient(variables.$purple1, variables.$purple2);
	color: variables.$white;
	position: relative;
}

.footer-main__wrapper {
	@include layout.layout-x;
	@include layout.layout-y-no-tiny-breakpoint;
	display: flex;
	align-items: center;

	@include breakpoints.media-breakpoint-only(small) {
		align-items: flex-start;
	}

	@include breakpoints.media-breakpoint-down(extra-small) {
		flex-direction: column;
	}
}

.footer-main__logo {
	// as a flex-child
	flex-grow: 1;
	width: 33%;
	height: auto;
	position: relative;
	z-index: variables.$z-hexagons-content;

	@include breakpoints.media-breakpoint-only(extra-small) {
		padding-top: 2rem;
	}

	@include breakpoints.media-breakpoint-down(extra-small) {
		max-width: 15rem;
		max-height: 20rem;
		display: block;
		width: 100%;
	}
}

.footer-main__social-icon {
	img {
		height: 2rem;
		width: auto;
	}
}

.footer-main__social-media {
	display: flex;

	a {
		margin-right: 1rem;
		opacity: 0.6;
		transition: opacity 100ms ease-in-out;

		&:hover,
		&:focus-visible {
			opacity: 1;
		}
	}

	@include breakpoints.media-breakpoint-down(extra-small) {
		padding: math.div($list-bottom-padding, 2) 0;
		justify-content: center;
	}
}

.footer-main__content {
	padding-left: variables.$layout-padding;

	// as a flex-child
	flex-basis: 66%;
	position: relative;
	z-index: variables.$z-hexagons-content;

	@include breakpoints.media-breakpoint-down(extra-small) {
		text-align: center;
		padding-left: 0;
		padding-top: variables.$layout-padding;
	}
}

.footer-main__title {
	color: variables.$gray10-text;
	font-size: variables.$homepage-section-heading-font-size;
	padding-bottom: 2rem;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 1rem;

	@include breakpoints.media-breakpoint-down(extra-small) {
		font-size: variables.$homepage-section-heading-font-size-small;
	}

	.rich-text {
		@include utilities.p-remove-first-and-last-margin;

		a {
			@include links.link-underline-on-hover(variables.$white, variables.$white);
		}
	}
}

.footer-main__text-wrapper {
	display: flex;

	@include breakpoints.media-breakpoint-down(small) {
		flex-direction: column;
	}

	@include breakpoints.media-breakpoint-down(extra-small) {
		align-items: center;
	}
}

.footer-main__nav {
	@include breakpoints.media-breakpoint-down(extra-small) {
		width: 100%;
	}
}

.footer-main__nav-list {
	@include lists.list-unstyled;
	padding-bottom: math.div($list-bottom-padding, 2);

	// as a flex-parent
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	@include breakpoints.media-breakpoint-down(extra-small) {
		align-items: center;
	}
}

.footer-main__nav-item {
	width: 50%;

	@include breakpoints.media-breakpoint-down(extra-small) {
		text-align: center;
	}

	@include breakpoints.media-breakpoint-down(tiny) {
		width: 100%;
	}
}

.footer-main__nav-link {
	@include links.link-underline-on-hover(inherit, inherit);
}

.footer-main__release {
	padding-left: variables.$layout-padding;
	color: variables.$gray10-text;

	@include breakpoints.media-breakpoint-down(small) {
		padding-left: 0;
	}
}

.footer-main__release-key-link {
	@include links.link-underline-on-hover(variables.$white, variables.$white);
	display: block;
}

.footer-main__tor-address {
	padding-top: 2rem;
	word-break: break-all;
}

.footer-main__admin {
	@include breakpoints.media-breakpoint-down(small) {
		padding-bottom: 2rem;
	}
}

.footer-main__admin-link {
	@include links.link-underline-on-hover(inherit, inherit);
}

.footer-main__admin-logout {
	display: inline-block;
}

.footer-main__parens {
	color: variables.$gray10-text;
}
