@use "base/mixins/breakpoints";
@use "base/mixins/colors";
@use "base/mixins/layout";
@use "base/variables";

.header {
	position: relative;
	color: white;

	@include colors.sd-gradient(variables.$blue-bright1, variables.$blue-bright2);
}

.header--subheader {
	padding-top: 0;
}

.header__title {
	@include layout.layout-x;
	position: relative;
	z-index: variables.$z-hexagons-background;
	padding-top: variables.$header-padding;
	padding-bottom: variables.$header-padding;

	@include breakpoints.media-breakpoint-down(extra-small) {
		text-align: center;
	}
}

.header__title-text {
	margin-bottom: 0;
	font-size: variables.$site-title-font-size;
}

.header--slate {
	@include colors.sd-gradient(variables.$slate1, variables.$slate2);
}

.header--blue-bright {
	@include colors.sd-gradient(variables.$blue-bright1, variables.$blue-bright2);
}

.header--blue-bold {
	@include colors.sd-gradient(variables.$blue-bold1, variables.$blue-bold2);
}

.header--purple {
	@include colors.sd-gradient(variables.$purple1, variables.$purple2);
}

.header--transparent {
	background: transparent;
	color: variables.$black;
}
