@use "base/mixins/breakpoints";
@use "base/mixins/colors";
@use "base/mixins/links";
@use "base/mixins/utilities";
@use "base/variables";
@use "site-alert";

.tor-wrapper--homepage {
  width: 100%;
  position: relative;

  &::after {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    z-index: variables.$z-hexagons__background--updates;
    content: "";
    background-color: variables.$gray10;
  }
}

.tor-warning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  color: variables.$white;

  & a {
    @include links.link--white-text;
  }

  @include colors.sd-gradient(variables.$red1, variables.$red2);
  @include utilities.p-remove-first-and-last-margin;

  @include breakpoints.media-breakpoint-down(extra-small) {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;

    // ensure that warning is above everything, including the mobile menu
    z-index: variables.$z-tor-popup;
    padding: 1rem;
    margin: 0;
    display: block;
    overflow: scroll;
    max-width: 90vw;
  }
}

// This is an override of .tor-warning
@include breakpoints.media-breakpoint-up(small) {
  .tor-warning--homepage {
    width: 80%;
    margin: 0 auto;
    margin-bottom: variables.$layout-padding;
    padding: variables.$layout-padding;
    position: relative;
    z-index: variables.$z-tor-homepage;
  }
}


// This is an override of .tor-warning
.tor-warning--hidden {
  display: none;
}

.tor-warning__title {
  @include breakpoints.media-breakpoint-down(extra-small) {
    padding-right: variables.$rem-in-px + 2 * site-alert.$alert-button-width;
  }
}

.tor-warning__close-button {
  background-color: inherit;
  border: none;
  margin: 0;
  padding: 1rem;

  @include links.link-transition;
  @include links.link--no-underline(variables.$white, variables.$gray50);

  @include breakpoints.media-breakpoint-down(extra-small) {
    position: absolute;
    right: 0;
    top: 0;
  }


  // sorry BEM
  @include breakpoints.media-breakpoint-up(small) {
    .tor-warning--homepage & {
      display: none;
    }
  }
}

.tor-warning__close-x {
  width: site-alert.$alert-button-width;
  height: site-alert.$alert-button-height;

  @include breakpoints.media-breakpoint-down(extra-small) {
    width: 2 * site-alert.$alert-button-width;
    height: 2 * site-alert.$alert-button-height;
  }
}
