{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <div class="row">
      <div class="text-center">
        {% load static %}
        <img src='{% static "img/logo.png" %}'>
        <h2>SecureDrop Directory</h2>
      </div>
  </div>
</div>

<div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h4>Organization</h4></th>
          <th><h4>Security Grade</h4></th>
          <th><h4>Landing Page</h4></th>
          <th><h4>Tor Onion Address</h4></th>
        </tr>
      </thead>
      <tbody>
        {% for securedrop in object_list %}
        <tr>
          <td><a href="{{ securedrop.slug }}">{{ securedrop.organization }}</a></td>

          {% if securedrop.results.latest.grade == 'A' %}
          <td class="index-good-grade">
          {% elif securedrop.results.latest.grade == 'F' %}
          <td class="index-fail-grade">
          {% else %}
          <td class="index-warning-grade">
          {% endif %}
            {{ securedrop.results.latest.grade }}
          </td>

          <td>
            <a href="{{ securedrop.landing_page_domain }}">{{ securedrop.landing_page_domain }}</a>
          </td>
          <td><code>{{ securedrop.onion_address }}</code></td>
        </tr>
        {% empty %}
          <tr><td>No SecureDrop instances added yet.</td></tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<br>

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <a href="{% url 'landing_page_test' %}" class="btn btn-lg btn-primary"/>Grade Your SecureDrop Landing Page</a>
    </div>
</div>

{% endblock %}
