<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    {% if result.grade == 'A' %}
    <p class="good-grade text-center">{{ result.grade }}</p>
    {% elif result.grade == 'F' %}
    <p class="fail-grade text-center">{{ result.grade }}</p>
    {% else %}
    <p class="warning-grade text-center">{{ result.grade }}</p>
    {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Basic</h3>
      {% if result.live == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Successfully received landing page.</p>
      {% elif result.live == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> Could not get to landing page.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.http_status_200_ok == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Server responded with 200 OK.</p>
      {% elif result.http_status_200_ok == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> Server did not respond with 200 OK.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.http_no_redirect == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Landing page does not redirect.</p>
      {% elif result.http_no_redirect == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> Landing page should not redirect.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.expected_encoding == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Expected encoding found on landing page.</p>
      {% elif result.expected_encoding == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> Unexpected encoding found on landing page.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.forces_https != None %}
      <h3>HTTPS</h3>
      {% endif %}

      {% if result.forces_https == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Landing page enforces HTTPS.</p>
      {% elif result.forces_https == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> Landing page does not enforce HTTPS.
          HTTPS is critical for security on the landing page.
          <a class="btn btn-sm btn-default" href="https://securethe.news/why/">Why?</a>
          <a class="btn btn-sm btn-default" href="https://securethe.news/how/">How can I set up HTTPS?</a>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.hsts == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> HSTS is supported.</p>
      {% elif result.hsts == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> HSTS is not supported. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.hsts_max_age > 16070400 %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> HSTS max age is at least a year.</p>
      {% elif result.live == True %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> HSTS max age is less than a year. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.hsts_entire_domain == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> HTTPS is enforced on the entire domain.</p>
      {% elif result.live == True %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> HTTPS is not enforced on the entire domain. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.hsts_preloaded == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> The page is <a href="https://hstspreload.org/">HSTS preloaded</a>.</p>
      {% elif result.hsts_preloaded == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> The page is not <a href="https://hstspreload.org/">HSTS preloaded</a>. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.no_server_info != None %}
      <h3>Server Security</h3>
      {% endif %}
      {% if result.no_server_info == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Server software not found in headers.</p>
      {% elif result.no_server_info == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> Server software should not appear in headers. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.no_server_version == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span>  No version info found in headers.</p>
      {% elif result.no_server_version == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> Software version should not appear in headers. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.csp_origin_only == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">Content Security Policy (CSP)</a> loads only from the origin domain.</p>
      {% elif result.csp_origin_only == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">Content Security Policy (CSP)</a> should load only from self. CSP mitigates cross-site scripting and packet sniffing attacks.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#csp-set">
            <span class="glyphicon glyphicon-wrench"></span> Fix
          </a>
          <div id="csp-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>Content-Security-Policy default-src 'self'</pre>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.mime_sniffing_blocked == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options">MIME sniffing</a> is blocked.</p>
      {% elif result.mime_sniffing_blocked == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options">MIME sniffing</a> is possible.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#mimesniff-set">
            <span class="glyphicon glyphicon-wrench"></span> Fix
          </a>
          <div id="mimesniff-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>X-Content-Type-Options nosniff</pre>
          </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.noopen_download == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Users cannot accidentally <a href="https://msdn.microsoft.com/en-us/library/jj542450(v=vs.85).aspx">open a download</a>.</p>
      {% elif result.noopen_download == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> Users can accidentally <a href="https://msdn.microsoft.com/en-us/library/jj542450(v=vs.85).aspx">open a download</a>.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#noopen-set">
            <span class="glyphicon glyphicon-wrench"></span> Fix
          </a>
          <div id="noopen-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>X-Download-Options noopen</pre>
          </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.xss_protection == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection">XSS filtering</a> is enabled.</p>
      {% elif result.xss_protection == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection">XSS attacks</a> are not prevented.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#xss-protection-set">
            <span class="glyphicon glyphicon-wrench"></span> Fix
          </a>
          <div id="xss-protection-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>X-XSS-Protection 1; mode=block</pre>
          </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.clickjacking_protection == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Ensures that the server forbids embedding this page within an iframe, to <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options">prevent clickjacking attacks</a>. Otherwise another site could embed the Landing Page and mess with it.</p>
      {% elif result.clickjacking_protection == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> The server does not forbid embedding this page within an iframe, to <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options">prevent clickjacking attacks</a>. Another site could embed the Landing Page and mess with it.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#xframe-set"><span class="glyphicon glyphicon-wrench"></span> Fix</a></p>
          <div id="xframe-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>X-Frame-Options DENY</pre>
          </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.good_cross_domain_policy == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Cross Domain Policy set correctly.</p>
      {% elif result.good_cross_domain_policy == False %}
        <p class="text-warning lead">
          <span class="glyphicon glyphicon-flag"></span>
          Cross Domain Policy not set correctly.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#cross-domain-policy-set">
            <span class="glyphicon glyphicon-wrench"></span> Fix
          </a>
        </p>
          <div id="cross-domain-policy-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>X-Permitted-Cross-Domain-Policies master-only</pre>
          </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.http_1_0_caching_disabled != None %}
      <h3>Caching</h3>
      {% endif %}
      {% if result.http_1_0_caching_disabled == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Caching is disabled (HTTP/1.0).</p>
      {% elif result.http_1_0_caching_disabled == False %}
        <p class="text-warning lead">
          <span class="glyphicon glyphicon-flag"></span> Caching is not disabled (HTTP/1.0).
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#pragma-set">
            <span class="glyphicon glyphicon-wrench"></span> Fix
          </a>
        </p>
        <div id="pragma-set" class="collapse">
          <p>Add the following to your security headers:</p>
          <pre>Pragma no-cache</pre>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.cache_control_set == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control">Caching</a> is disabled (HTTP/1.1). </p>
      {% elif result.cache_control_set == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control">Caching</a> is not disabled (HTTP/1.1).
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#cache-control-set"><span class="glyphicon glyphicon-wrench"></span> Fix</a>
          <div id="cache-control-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>Cache-Control "max-age=0, no-cache, no-store, must-revalidate, private"</pre>
          </div>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.cache_control_revalidate_set == True or result.cache_control_nocache_set == True or result.cache_control_notransform_set == True or result.cache_control_nostore_set == True or result.cache_control_private_set == True%}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control">Cache-Control</a> headers set properly. </p>
      {% elif result.live != False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control">Cache-Control</a> headers not set properly.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#cache-control-mustrevalidate-set"><span class="glyphicon glyphicon-wrench"></span> Fix</a>
          <div id="cache-control-mustrevalidate-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>Cache-Control "max-age=0, no-cache, no-store, must-revalidate, private"</pre>
          </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.expires_set == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> The page is <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires">marked as expired</a>, so no cache will be used.</p>
      {% elif result.expires_set == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> The page is not <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires">marked as expired</a>. Cache may be used.
          <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#expires-set"><span class="glyphicon glyphicon-wrench"></span> Fix</a>
          <div id="expires-set" class="collapse">
            <p>Add the following to your security headers:</p>
            <pre>Expires -1</pre>
          </div>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.safe_onion_address != None %}
      <h3>Metadata</h3>
      {% endif %}
      {% if result.safe_onion_address == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> No clickable onion addresses were found.</p>
      {% elif result.safe_onion_address == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> Onion address should not be a clickable link. If clicked, some browsers will send a DNS request that will not be routed through tor, producing metadata that can identify a source. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.subdomain != True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Landing page is not hosted on a subdomain.</p>
      {% else %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> Landing page should not be hosted on a subdomain. Using a subdomain can reveal to a passive observer that the client is looking at the securedrop page on your website.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.no_cdn != None %}
      <h3>3rd Parties</h3>
      {% endif %}
      {% if result.no_cdn == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Use of CDNs not found.</p>
      {% elif result.no_cdn == False %}
        <p class="text-warning lead"><span class="glyphicon glyphicon-flag"></span> CDNs are a 3rd party that function by man-in-the-middling traffic. Do not use a CDN on the landing page. </p>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.no_analytics == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Use of Google Analytics not found.</p>
      {% elif result.no_analytics == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> Google Analytics provides information that can be stored and disclosed by 3rd parties. Do not use analytics on the landing page. </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if result.no_cookies != None %}
      <h3>Local Storage</h3>
      {% endif %}
      <h3></h3>
      {% if result.no_cookies == True %}
        <p class="text-success lead"><span class="glyphicon glyphicon-ok"></span> Landing page does not use cookies.</p>
      {% elif result.no_cookies == False %}
        <p class="text-danger lead"><span class="glyphicon glyphicon-remove"></span> The landing page should not use cookies. </p>
      {% endif %}
    </div>
  </div>

</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <a href="{% url 'securedrop_directory' %}" class="btn btn-sm btn-primary"/>Back to SecureDrop Directory</a>
    </div>
</div>
