{% extends "account/base.html" %}
{% load i18n wagtailcore_tags %}

{% block site_title %}
	{% trans "Sign up" %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block content %}
	<h1>{% trans "Sign up" %}</h1>

	<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

	{% if settings.common.TwoFactorAuthSettings.signup_form_text %}
		{{ settings.common.TwoFactorAuthSettings.signup_form_text|richtext }}
	{% endif %}

	<form class="basic-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
		{% csrf_token %}
		{{ form.as_p }}
		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<input type="submit" value="{% trans "Sign Up" %}" class="basic-form__submit" />
	</form>
{% endblock %}
