@use "../base/mixins/buttons";
@use "../base/variables";
@use "sass:color";

.instance-instructions {
	&__title {
		font-size: 1.5rem;
		font-weight: variables.$sans-bold;
	}

	&__onion-address {
		overflow-wrap: anywhere;
		background-color: #e6e6e6;
		font-family: variables.$mono;
		border-radius: 3px;
		padding: 0 0.25rem;
		display: inline-block;
		margin-top: 0.15rem;
	}

	&__landing-page-button {
		@include buttons.button-small;

		$root: &;
		border: 1px solid variables.$gray10-text;
		text-align: left;
		padding-right: 3rem;
		position: relative;

		&-text {
			font-weight: variables.$sans-bold;
			color: variables.$gray80-text;
		}

		&-url {
			font-weight: variables.$sans-light;
			color: variables.$gray50-text;
		}

		&-chevron {
			height: 1.8rem;
			position: absolute;
			top: 1.1rem;
			right: 0.8rem;
			fill: variables.$gray80;
		}

		&:hover {
			background-color: variables.$gray5;
			border-color: variables.$gray20;
		}

		&-text--danger,
		&-url--danger {
			color: variables.$red2;
		}

		&--danger {
			@include buttons.button-small;
			border: 1px solid variables.$red2;
			text-align: left;
			padding-right: 3rem;
			position: relative;
			color: variables.$red2;

			&:hover {
				background-color: variables.$red2;
				color: variables.$white;

				#{$root}-text--danger,
				#{$root}-url--danger {
					color: variables.$white;
				}

				#{$root}-chevron--danger {
					fill: variables.$white;
				}
			}

			&:hover &-text--danger,
			&:hover &-url--danger {
				color: variables.$white;
			}
		}

		&-chevron--danger {
			height: 1.8rem;
			position: absolute;
			top: 1.1rem;
			right: 0.8rem;
			fill: variables.$red2;
		}

		&-text--warning,
		&-url--warning {
			color: color.adjust(#baa400, $lightness: -10%);
		}

		&--warning {
			@include buttons.button-small;
			border: 1px solid #baa400;
			text-align: left;
			padding-right: 3rem;
			position: relative;
			color: #baa400;

			&:hover {
				background-color: #baa400;
				color: variables.$white;

				#{$root}-text--warning,
				#{$root}-url--warning {
					color: variables.$white;
				}

				#{$root}-chevron--warning {
					fill: variables.$white;
				}
			}

			&:hover &-text--warning,
			&:hover &-url--warning {
				color: variables.$white;
			}
		}

		&-chevron--warning {
			height: 1.8rem;
			position: absolute;
			top: 1.1rem;
			right: 0.8rem;
			fill: #baa400;
		}
	}
}
