{% extends "layout/_layout_equal_columns.html"%}
{% load wagtailcore_tags wagtailimages_tags result_tags %}
{% load render_bundle from webpack_loader %}

{% block header_classes %}
	header--slate
{% endblock %}

{% block page_title %}
{% endblock page_title %}

{% block top%}
	<div class="instance-title">
		{% if page.organization_logo %}
			<div class="instance-title__logo">
				{% image page.organization_logo width-75  %}
			</div>
		{% endif %}
		<h1 class="instance-title__header">{{ page.title }}</h1>
		<a class="instance-title__landing-page" href="{{page.landing_page_domain}}">{{settings.common.DirectorySettings.landing_page_link_text}}{% include "common/chevron-right.svg" with class="instance-title__chevron" %}</a>
		<div class="instance-title__onion">
			{{settings.common.DirectorySettings.compare_onion_address_text}} <span class='instance-title__onion-address'>{{page.onion_address}}</span>
		</div>
	</div>
{% endblock top %}


{% block column_one %}
	<div class="instance-description">
		{{ page.organization_description|richtext }}
	</div>
	<ul class="tag-list">
		{% for language in page.languages.all %}
			<li class="tag-list__item">{{ language.title }}</li>
		{% endfor %}
		{% for country in page.countries.all %}
			<li class="tag-list__item">{{ country.title }}</li>
		{% endfor %}
		{% for topics in page.topics.all %}
			<li class="tag-list__item">{{ topics.title }}</li>
		{% endfor %}
	</ul>
	{% if settings.common.DirectorySettings.security_warning %}
		<div class="security-warning">
			{{ settings.common.DirectorySettings.security_warning|richtext }}
		</div>
	{% endif %}
{% endblock column_one %}

{% block column_two %}
	<div class="security_grade">
		<div class="security_grade__text">{{ settings.common.DirectorySettings.grade_text }}:</div> <div class="security_grade__grade
		security_grade__grade--{{ page.results.latest.grade }}">{{ page.results.latest.grade }}</div>
	</div>

	{% result_groups page.results.latest True settings.common.DirectorySettings.no_results_text%}

	<div class="row">
		<a href="{% pageurl page.get_parent %}" class="btn btn-sm btn-primary"/>Back to SecureDrop Directory</a>
	</div>
{% endblock column_two %}

{% block js %}
	{{ block.super }}
	{% render_bundle 'tor' 'js' %}
{% endblock %}