@use "sass:color";

// UTILITIES

@mixin link-transition {
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: color, background-color;
}

@mixin link-color($color: $link-color, $color-hover: #{color.adjust($color, $lightness: -10%)}) {
  color: $color;
  @include hover {
    color: $color-hover;
  }
}

@mixin decoration($decoration, $decoration-hover: $decoration) {
  text-decoration: $decoration;
  @include hover {
    text-decoration: $decoration-hover;
  }
}

// STYLES

@mixin link--unstyled {
  @include link-color(inherit, inherit);
  @include decoration(inherit);
}

@mixin link--underline($color: $link-color, $color-hover: #{color.adjust($color, $lightness: -10%)}) {
  @include link-transition;
  @include link-color($color, $color-hover);
  @include decoration(underline);
}

@mixin link--no-underline($color: inherit, $color-hover: $link-color) {
  @include link-transition;
  @include link-color($color, $color-hover);
  @include decoration(none);
}

@mixin link--underline-on-hover($color: inherit, $color-hover: $link-color) {
  @include link-transition;
  @include link-color($color, $color-hover);
  @include decoration(none, underline);
}

@mixin link--white-text {
  @include link--underline($white, $gray10--text);
}

@mixin link--colored-text {
  @include link--underline(inherit, $gray50--text);
}
