@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hover {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin p-remove-first-and-last-margin {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
