$content-padding: 3rem

.flex-wrapper
	display: flex

.flex-wrapper__main
	flex-grow: 3
	padding: $content-padding


.flex-wrapper__aside
	flex-grow: 1
	flex-basis: 10rem
	background-color: cornflowerblue
	align-self: stretch
	padding: $content-padding $content-padding $content-padding 0
