.header
	position: relative
	color: white
	+sd-gradient($slate1,$slate2)
	padding-top: $nav-height // make space for nav

.header--subheader
	padding-top: 0

.header__title
	+layout-x
	position: relative
	z-index: $z-hexagons__background
	padding-top: $header-padding
	padding-bottom: $header-padding
	margin-bottom: 0
	font-size: 2.5rem

	+media-breakpoint-down(extra-small)
		text-align: center

.header--slate
	+sd-gradient($slate1,$slate2)

.header--blue-bright
	+sd-gradient($blue-bright1,$blue-bright2)

.header--blue-bold
	+sd-gradient($blue-bold1,$blue-bold2)

.header--purple
	+sd-gradient($purple1,$purple2)

.header--transparent
	background: transparent
	color: $black
