.hexagons-background
	position: absolute
	overflow: hidden
	width: 100%
	height: 100%

.hexagons-background__svg
	position: absolute
	opacity: 0.2
	bottom: -6rem
	left: -3rem
	transform: translateY(-2rem) scale(3)

.hexagons-background__svg--footer
	transform: rotate(90deg) scale(4)

.hexagons-background__hexagon
	fill: $white

.hexagons-background__hexagon--1
	opacity: .1
	fill: $black

.hexagons-background__hexagon--2
	opacity: .1

.hexagons-background__hexagon--3
	opacity: .2
	fill: $black

.hexagons-background__hexagon--4
	opacity: .2

.hexagons-background__hexagon--5
	opacity: .3
	fill: $black

.hexagons-background__hexagon--6
	opacity: .3

.hexagons-background__hexagon--7
	opacity: .4
	fill: $black

.hexagons-background__hexagon--8
	opacity: .4

.hexagons-background__hexagon--9
	opacity: 0

.hexagons-background__hexagon--10
	opacity: 0
