.layout-equal
	display: flex
	+layout-x
	+layout-y

	+media-breakpoint-down(extra-small)
		flex-direction: column

.layout-equal__one, .layout-equal__two
	flex-basis: 50%

.layout-equal__one
	padding-right: $layout-padding

	+media-breakpoint-down(extra-small)
		padding-right: 0
		padding-bottom: $layout-padding

.layout-equal__two
	padding-left: $layout-padding

	+media-breakpoint-down(extra-small)
		flex-basis: 100%
		padding: 0
