.layout-one-column
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	+layout-x
	+layout-y

.layout-one-column__main
	width: 80%

	+media-breakpoint-down(extra-small)
		width: 100%
