.main-nav
	background: rgba($black,0.25)
	color: $white
	width: 100%
	position: absolute
	top: 0
	left: 0
	height: $nav-height

.nav-menu
	+layout-x
	position: relative
	display: flex
	justify-content: space-between
	align-items: center

.nav-menu--homepage
	justify-content: flex-end

.nav-menu__logos
	height: 2rem
	position: relative
	left: -3rem // put hexagon in the margin
	display: flex
	align-items: center
	+hover
		opacity: 0.8

.nav-menu__logo
	width: 2rem
	margin-right: 1rem

	*
		fill: white

.nav-menu__wordmark
	height: 2rem
	width: auto

.nav-menu__list
	+list--unstyled
	display: flex
	justify-content: flex-end
	align-items: center
	height: $nav-height

.nav-menu__item
	padding: 0.5rem

.nav-menu__link
	+link--no-underline(inherit, $nav-hover-color)

.nav-menu--mobile-hidden
	+media-breakpoint-down(extra-small)
		display: none
