.nav-menu
  +list--unstyled
  display: flex
  justify-content: flex-end
  align-items: center
  background: $black
  opacity: 0.5
  color: $white


.nav-menu__item
  padding: 0.5rem

.nav-menu__link
  +link--underline-on-hover(inherit, inherit)
