.main-nav
  +clearfix

.nav-menu
  +list--unstyled
  display: flex
  justify-content: flex-end
  align-items: center
  background: rgba($black,0.25)
  color: $white
  width: 100%
  position: absolute
  top: 0
  left: 0

.nav-menu__item
  padding: 0.5rem

.nav-menu__link
  +link--underline-on-hover(inherit, inherit)

.nav-menu--mobile-hidden
  +media-breakpoint-down(extra-small)
    display: none
