.use-tor-browser--hidden, .js-tor-warning--hidden
	display: none

#use-tor-browser
	position: fixed
	top: 1rem
	left: 1rem
	right: 1rem
	bottom: 1rem
	+sd-gradient($red1,$red2)
	color: $white
	// ensure that warning is above everything, including the mobile menu
	z-index: $z-tor-popup
