.account__username
  padding-bottom: 2rem
  font-size: 1.5rem
  color: $gray50--text


.account__chevron-left
  +text-chevron--left

.account__dashboard-link
  +link--unstyled
  +button-small
  +button-solid--gray
  text-decoration: none
  margin-top: $layout-padding
