{% extends "layout/_layout_one_column.html" %}

{% load i18n account %}

{% block site_title %}
	{% trans 'Manage Account' %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block main %}
	<h1 id="title">
		{% user_display user as user_display %}
    {% blocktrans %}
      {{ user_display }}
    {% endblocktrans %}
		{% trans "Dashboard" %}
	</h1>
	<nav class="dashboard__management">
		<h2>{% trans 'Manage Account' %}</h2>
		<ul class="dashboard__list">
			<li><a href="{% url 'account_email' %}">{% trans "Manage email addresses" %}</a></li>
			<li><a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li>
			<li><a href="{% url 'account_change_name' user.pk %}">{% trans "Edit name" %}</a></li>
			<li><a href="{% url 'two-factor-setup' %}">{% trans "Manage Two-Factor Authentication" %}</a></li>
		</ul>
	</nav>
	<h2>{% trans "Edit instances" %}</h2>
	<ul class="dashboard__list">
		{% for instance in object_list %}
			<li><a href="{% url 'securedroppage_edit' instance.slug %}">{{ instance.title }}</a></li>
		{% empty %}
			<li>{% trans "You do not own any Securedrop instances" %}</li>
		{% endfor %}
	</ul>

	{% if create_link %}
		<a class="dashboard__link" href='{{ create_link }}'>
			{% trans 'Add an instance' %}{% include "common/chevron-right.svg" with class="dashboard__chevron-right" %}
		</a>
	{% endif %}
{% endblock main %}
