{% load get_menu i18n %}
{% get_menu 'search-docs' as docs_items %}
{% get_menu 'search-guides' as guide_items %}

<div class="quicklinks">
  <section class="quicklinks__section">
    <h3>{% trans "Quick Links" %}</h3>
    <ul>
      {% for item in docs_items %}
        <li><a class='{{ item.html_classes }}' href="{{ item.url }}">
          {{ item.text }}
        </a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="quicklinks__section">
    <h3>{% trans "Guides to Securedrop" %}</h3>

    <ul>
      {% for item in guide_items %}
        <li><a class='{{ item.html_classes }}' href="{{ item.url }}">
          {{ item.text }}
        </a></li>
      {% endfor %}
    </ul>
  </section>
</div>
