{% load i18n static %}

<div class="search-bar {{ class|default:'' }}">
	<form action="{% url 'search' %}" class="search-bar__form" method="get">
		<object class="search-bar__icon" type="image/svg+xml" data="{% static 'images/search.svg' %}">
			 <img src="{% static 'images/search.png' %}" alt="{% trans 'Search' %}">
		</object>

		<input
			type="text"
			class="search-bar__input search-bar__input--{{ location }}"
			{% if search_query %} value="{{ search_query }}"{% endif %}
			name="query"
			placeholder="{% trans 'Search website, documentation, and forum' %}"
		/>

		<button
			type="submit"
			class="search-bar__button"
		>
			{% include "common/chevron-right.svg" with class="search-bar__chevron" %}
			<span class="sr-only">Search</span>
		</button>
	</form>
</div>