{% extends "layout/_layout_one_column.html" %}
{% load static wagtailcore_tags common_tags get_menu i18n %}

{% block page_title %}
	{% include "search/_search_bar.html" with class="search-bar--on-page" %}
{% endblock %}

{% block main %}
	<div class="search-page">
		{% if search_results %}
			<ul class="search-list">
				{% for result in search_results %}
					<li class="search-list__item">
						<section>
							<h3 class="search-list__item-title">
								<span class="search-list__icon search-list__icon--{{result.result_type}}"></span>
								<a href="{{result.url}}" class="search-page__list-item-link">
									{{ result.title }}
								</a>
							</h3>
							<p>
								{{result.description|richtext}}
							</p>
						</section>
					</li>
				{% endfor %}
			</ul>

			{% if search_results.has_previous %}
				<a class="pagination__link--previous" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="button button--outline">
				{% include "common/chevron-right.svg" with class="pagination__icon--previous" %}
				{% trans "Previous" %}
			</a>
			{% endif %}

			{% if search_results.has_next %}
				<a class="pagination__link--next" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="button button--outline">
				{% trans "Next" %}
				{% include "common/chevron-right.svg" with class="pagination__icon--next" %}
			</a>
			{% endif %}
		{% elif search_query %}
			<p>{% trans "No results found" %}<p>
		{% endif %}
	</div>
	<div>
		{% get_menu 'search-docs' as docs_items %}
		{% get_menu 'search-guides' as guide_items %}
		<div>
			<h3>Quick Links</h3>

			<ul>
				{% for item in docs_items %}
				<li><a class='{{ item.html_classes }}' href="{{ item.url }}">
					{{ item.text }}
				</a></li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<h3>Guides to Securedrop</h3>

			<ul>
				{% for item in guide_items %}
				<li><a class='{{ item.html_classes }}' href="{{ item.url }}">
					{{ item.text }}
				</a></li>
				{% endfor %}
			</ul>
		</div>


{% endblock %}
