{% extends "layout/_layout_one_column.html" %}
{% load static wagtailcore_tags common_tags %}

{% block title %}Search{% endblock %}

{% block main %}
	<div class="search-page">
		<h2 class="page-title page-title--less-margin">Search</h2>

		{% include "search/_search_bar.html" with class="search-bar--on-page" %}

		{% if search_results %}
			<ul class="search-list">
				{% for result in search_results %}
					<li class="search-list__item">
						<section>
							<h3 class="search-list__item-title">
								<span class="search-list__icon search-list__icon--{{result.result_type}}"></span>
								<a href="{{result.url}}" class="search-page__list-item-link">
									{{ result.title }}
								</a>
							</h3>
							<p>
								{{result.description|richtext}}
							</p>
						</section>
					</li>
				{% endfor %}
			</ul>

			{% if search_results.has_previous %}
				<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="button button--outline">Previous</a>
			{% endif %}

			{% if search_results.has_next %}
				<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="button button--outline">Next</a>
			{% endif %}
		{% elif search_query %}
			No results found
		{% endif %}
	</div>
{% endblock %}
