[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=ecassan
WorkingDirectory=/home/ecassan/sites/SITENAME/source/securedrop
ExecStart=/home/ecassan/sites/SITENAME/virtualenv/bin/gunicorn \
          --bind unix:/temp/SITENAME.socket \
          securedrop.wsgi:application

[Install]
WantedBy=multi-user.target
