{% load wagtailcore_tags wagtailsettings_tags static i18n %}

{% get_settings %}

{% with footer=settings.common.FooterSettings %}
	<footer class="footer">
		<div class="footer__line-wrapper">
			<section class="support">
				<h2 id="aria-support-nav" class="support__title">{{ footer.support_title }}</h2>
				{% include "search/_search_bar.html" with class="search-bar--footer" %}
				<nav class="support__nav" aria-labelledby="aria-support-nav">
					<ul class="support__nav-list">
						{% for item in footer.support_menu.menu_items.all %}
							<li class="support__nav-item {{ item.html_classes }}">
								<a class="support__nav-link" href="{{ item.url }}">
									{{ item.text }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</section>
			<section class="footer-links">
				{% if footer.donation_url %}
					<a href="{{ footer.donation_url }}" class="footer-links__donate">
						{% trans 'Donate' %}
					</a>
				{% endif %}
				{% if footer.contribute_link %}
					<a href="{% pageurl footer.contribute_link %}" class="footer-links__contribute">
						{% trans 'Contribute' %}
					</a>
				{% endif %}
			</section>
		</div>
		<section class="footer-main">
			<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--footer" %}
			</div>
			<div class="footer-main__wrapper">
				{% trans "White cube with keyhole (Securedrop logo)" as logo_alt_text %}
				{% include "common/_svg.html" with class="footer-main__logo" svg="images/_logo_solid_white.svg" img="images/logo_solid_white.png" alt=logo_alt_text %}
				<div class="footer-main__content">
					<h2 id="aria-footer-nav" class='footer-main__title'>{{ footer.title|richtext }}</h2>
					<div class="footer-main__text-wrapper">
						<nav class="footer-main__nav" aria-labelledby="aria-footer-nav">
							<h3 class="sr-only">Footer navigation</h3>
							<ul class="footer-main__nav-list">
								{% for item in footer.main_menu.menu_items.all %}
									<li class="footer-main__nav-item {{ item.html_classes }}">
										<a class="footer-main__nav-link" href="{{ item.url }}">
											{{ item.text }}
										</a>
									</li>
								{% endfor %}
							</ul>
							{% if settings.directory.DirectorySettings.allow_directory_management %}
								<div class="footer-main__admin">
									{% if user.is_authenticated %}
										<a class="footer-main__admin-link" href="{% url 'dashboard' %}">{% trans 'Manage your SecureDrop directory listing' %}</a>
										<div class="footer-main__admin-logout">
											<span class="footer-main__parens">(</span><a class="footer-main__admin-link" href="{% url 'account_logout' %}">{% trans 'Log out' %}</a><span class="footer-main__parens">)</span>
										</div>
									{% else%}
										<a class="footer-main__admin-link" href="{% url 'account_login' %}">{% trans 'Log In' %}</a>
									{% endif %}
								</div>
							{% endif %}
						</nav>
						<div class="footer-main__release">
							<div class="footer-main__release-key-description">{{ footer.release_key_description }}</div>
							<a class="footer-main__release-key-link" href="{{ footer.release_key_link }}"><div class="footer-main__release-key">{{ footer.release_key }}</div></a>
							<div class="footer-main__tor-address">
								<div>{% trans 'Tor address' %}</div>
								<div>{{ footer.securedrop_onion_address }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</footer>
{% endwith %}