{% load wagtailcore_tags wagtailsettings_tags static %}
{% load i18n %}

{% get_settings %}

{% with footer=settings.common.FooterSettings %}
	<footer class="footer">
		<div class="footer__line-wrapper">
			<section class="support">
				<h2 id="aria-support-nav" class="support__title">{{ footer.support_title }}</h2>
				{% include "search/_search_bar.html" with class="search-bar--footer" %}
				<nav class="support__nav" aria-labelledby="aria-support-nav">
					<ul class="support__nav-list">
						{% for item in footer.support_menu.menu_items.all %}
							<li class="support__nav-item {{ item.html_classes }}">
								<a class="support__nav-link" href="{{ item.url }}">
									{{ item.text }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</section>
			<section class="footer-links">
				<a href="{{ footer.donation_url }}" class="footer-links__donate">
					{% trans 'Donate' %}
				</a>
				<a href="{{ footer.contribute_link }}" class="footer-links__contribute">
					{% trans 'Contribute' %}
				</a>
			</section>
		</div>
		<section class="footer-main">
			<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg hexagons-background__svg--footer" %}
			</div>
			<div class="footer-main__wrapper">
				<object class="footer-main__logo" type="image/svg+xml" data="{% static 'images/_logo_transparent_white.svg' %}">
				  <img src="{% static 'images/logo_transparent_white.png' %}" alt="White cube with keyhole (Securedrop logo)">
				</object>
				<div class="footer-main__content">
					<h2 id="aria-footer-nav" class='footer-main__title'>{{ footer.title|richtext }}</h2>
					<div class="footer-main__text-wrapper">
						<nav class="footer-main__nav" aria-labelledby="aria-footer-nav">
							<h3 class="sr-only">Footer navigation</h3>
							<ul class="footer-main__nav-list">
								{% for item in footer.main_menu.menu_items.all %}
									<li class="footer-main__nav-item {{ item.html_classes }}">
										<a class="footer-main__nav-link" href="{{ item.url }}">
											{{ item.text }}
										</a>
									</li>
								{% endfor %}
								{% if user.is_authenticated %}
									<li class="footer-main__nav-item">
										<a class="footer-main__nav-link" href="{% url 'dashboard' %}">
											{% trans 'Dashboard' %}
										</a>
									</li>
									<li class="footer-main__nav-item">
										<a class="footer-main__nav-link" href="{% url 'account_logout' %}">
											{% trans 'Sign Out' %}
										</a>
									</li>
								{% else %}
									<li class="footer-main__nav-item">
										<a class="footer-main__nav-link" href="{% url 'account_login' %}">
											{% trans 'Log In' %}
										</a>
									</li>
								{% endif%}
							</ul>
						</nav>
						<div class="footer-main__release">
							<div class="footer-main__release-key-description">{{ footer.release_key_description }}</div>
							<a class="footer-main__release-key-link" href="{{ footer.release_key_link }}"><div class="footer-main__release-key">{{ footer.release_key }}</div></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</footer>
{% endwith %}
