{% load wagtailcore_tags %}

<div id='use-tor-browser' class='use-tor-browser--hidden'>
	<h1>{{ settings.common.TorAlertSettings.title }}</h1>
	{% if settings.common.TorAlertSettings.subtitle %}
		<h2>{{ settings.common.TorAlertSettings.subtitle }}</h2>
	{% endif %}
	{% if settings.common.TorAlertSettings.body %}
		<div>
			{{ settings.common.TorAlertSettings.body|richtext }}
		</div>
	{% endif %}
<div id='use-tor-browser-close'>Close</div></div>

<div id='js-tor-warning' class='js-tor-warning--hidden'>
	<h1>{{ settings.common.TorAlertSettings.tor_settings_title }}</h1>
	{% if settings.common.TorAlertSettings.tor_settings_subtitle %}
		<h2>{{ settings.common.TorAlertSettings.tor_settings_subtitle }}</h2>
	{% endif %}
	{% if settings.common.TorAlertSettings.tor_settings_body %}
		<div>
			{{ settings.common.TorAlertSettings.tor_settings_body|richtext }}
		</div>
	{% endif %}
	<div id='js-tor-warning-close'>Close</div>
</div>
