{% load wagtailcore_tags common_tags i18n %}


{% for post in entries_page %}
		<div>
			{% include "blog/_blog_tease.html" with page=post.specific link_text=link_text %}
		</div>
	{% endfor %}
	<nav aria-label="Page navigation">
		{% if entries_page.has_previous %}
			<a
				href="?{% query_transform request page=entries_page.previous_page_number %}"
				class="pagination__link--previous pagination__link--button"
				aria-label="Previous"
			>
				{% include "common/chevron-right.svg" with class="pagination__icon--previous" %}{% trans "Previous Page" %}
			</a>
		{% endif %}

		{% if entries_page.has_next %}
			<a
				href="?{% query_transform request page=entries_page.next_page_number %}"
				class="pagination__link--next pagination__link--button"
				aria-label="Next"
			>
				{% trans "More Posts" %}{% include "common/chevron-right.svg" with class="pagination__icon--next" %}
			</a>
		{% endif %}
	</nav>
