{% load wagtailcore_tags common_tags i18n %}

<ul class="category-list">
	{% for category in page.get_category_pages %}
		{% if current_category and current_category == category.title %}
			<li class="category-list__item">
				<span>
					<span class="category-list__hexagon-wrapper">
						{% include "common/_hexagon.svg" with class="category-list__hexagon" category_slug=category.slug %}
					</span>
					<span class="category-list__text catgory-list__text--current-category">{{ category.title }}</span>
				</span>
			</li>
		{% else %}
			<li class="category-list__item">
				<a class="category-list__link" href="{% pageurl category %}">
					<span class="category-list__hexagon-wrapper">
						{% include "common/_hexagon.svg" with class="category-list__hexagon" category_slug=category.slug %}
					</span>
					<span class="category-list__text">{{ category.title }}</span></a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
<section class="release-preview">
	<h3 class="release-preview__title">{{ page.release_title }}</h3>
	{% for release in page.get_latest_releases %}
		<article>
			<h4 class="release-preview__tag">{{ release.product.name }} {{ release.tag_name }}</h4>
			<time class="updates__date" datetime="{{ release.date|date:'c' }}"">{{ release.date|date:"E j, Y"}}</time>
			<ul class="release-preview__links">
				{% if release.blog_page %}
					<li>
						<a
							href="{% pageurl release.blog_page %}"
							class="release-preview__link"
							aria-label="{% blocktrans with product=release.product.name tag=release.tag_name %}Release notes for {{ product }} {{ tag }}{% endblocktrans %}"
							>{% trans "Release notes" %}</a>
						</li>
				{% endif %}
				<li>
					<a
						href="{{ release.url }}"
						class="release-preview__link"
						aria-label="{% blocktrans with product=release.product.name tag=release.tag_name %}Github link for {{ product }} {{ tag }}{% endblocktrans %}"
						>Github</a>
				</li>
			</ul>
		</article>
	{% endfor %}
</section>
