{% load wagtailcore_tags common_tags i18n %}

<ul class="category-list">
	{% for category in page.get_category_pages %}
		{% if current_category and current_category == category.title %}
			<li class="category-list__item">
				<span>
					<span class="category-list__hexagon-wrapper">
						{% include "common/_hexagon.svg" with class="category-list__hexagon" category_slug=category.slug %}
					</span>
					<span class="category-list__text catgory-list__text--current-category">{{ category.title }}</span>
				</span>
			</li>
		{% else %}
			<li class="category-list__item">
				<a class="category-list__link" href="{% pageurl category %}">
					<span class="category-list__hexagon-wrapper">
						{% include "common/_hexagon.svg" with class="category-list__hexagon" category_slug=category.slug %}
					</span>
					<span class="category-list__text">{{ category.title }}</span></a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
<div class="release-preview">
	<h3 class="release-preview__title">{{ page.release_title }}</h3>
	{% if page.get_current_release %}
		{% with current_release=page.get_current_release %}
			<h4 class="release-preview__tag">SecureDrop {{ current_release.tag_name }}</h4>
			<div class="release-preview__date">{{ current_release.date|date:"E j, Y"}}</div>
			<div class="release-preview__links">
				<a href="{{ current_release.url }}" class="release-preview__link">Github</a>
				{% if current_release.blog_page %}
					<a href="{% pageurl current_release.blog_page %}" class="release-preview__link">{% trans "Release notes" %}</a>
				{% endif %}
			</div>
		{% endwith%}
	{% endif %}
</div>
