{% extends "layout/_layout_sidebar.html" %}

{% load wagtailcore_tags common_tags %}

{% block head %}
  {{ block.super }}
  {% include "common/_rss_autodiscovery.html" %}
{% endblock %}

{% block secondary-header %}
	<h2>{{ page.title }}</h2>
{% endblock %}

{% block main %}
		{% for post in entries_page %}
			<div>
				{% include "blog/_blog_tease.html" with page=post.specific location="blog-index" link_text=page.link_to_page_text %}
			</div>
		{% endfor %}

		{% if entries_page.has_previous %}
			<a
				href="?{% query_transform request page=entries_page.previous_page_number %}"
				class="js-infinite-scrolling-prev-link"
			>
				Previous Page
			</a>
		{% endif %}

		{% if entries_page.has_next %}
			<a
				href="?{% query_transform request page=entries_page.next_page_number %}"
				class="button button--outline button--center js-infinite-scrolling-next-link"
			>
				More Posts
			</a>
		{% endif %}
{% endblock main %}

{% block sidebar %}
	<ul class="category-list">
		{% for category in page.get_category_pages %}
			<li class="category-list__item">
				{% include "common/_hexagon.svg" with class="category-list__hexagon" category_slug=category.slug %}
				<span class="category-list__text">{{ category.title }}</span>
			</li>
		{% endfor %}
	</ul>
	<div class="release-preview">
		<h3 class="release-preview__title">{{ page.release_title }}</h3>
		{% if page.get_current_release %}
		{% with current_release=page.get_current_release %}
			<h4 class="release-preview__tag">SecureDrop {{ current_release.tag_name }}</h4>
			<div class="release-preview__date">{{ current_release.date|date:"E j, Y"}}
			<div class="release-preview__links">
				<a href="{{ current_release.url }}" class="release-preview__link">Github</a>
				{% if current_release.blog_page %}
					<a href="{% pageurl current_release.blog_page %}" class="release-preview__link">Release notes</a>
				{% endif %}
			</div>
		{% endwith%}
		{% endif %}
	</div>
{% endblock sidebar %}
