{% extends "layout/_layout_one_column.html" %}

{% load wagtailcore_tags %}

{% block meta %}
	{{ block.super }}
	<meta property="og:type" content="article" />
{% endblock %}

{% block layout_classes %}
	layout-one-column--blog
{% endblock %}

{% block title-classes %}
	blog-title
{% endblock %}

{% block title %}
	{% include "common/_hexagon.svg" with class="blog-hexagon" category_slug=page.category.slug %}
	{{ block.super }}
{% endblock %}

{% block main %}
	<div class="blog-page">
		<article>
			<div class="blog-page__date">
				{{ page.publication_datetime|date:"F j, Y"  }}
			</div>

			<section>
				{% for block in page.body %}
					{% include_block block %}
				{% endfor %}
			</section>
		</article>
		<div class="blog-page__return-button">
			<a href="{% pageurl page.get_parent %}" class="button button--outline">Return to {{ page.get_parent.title }}</a>
		</div>
	</div>
{% endblock %}
