.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #95a5a6;
  }

  .err {
    color: #a61717;
  }

  .k {
    color: #728E00;
  }

  .n, .o {
    color: #434f54;
  }

  .ch, .cm {
    color: #95a5a6;
  }

  .cp {
    color: #434f54;
  }

  .cpf, .c1, .cs {
    color: #95a5a6;
  }

  .kc {
    color: #00979D;
  }

  .kd, .kn {
    color: #728E00;
  }

  .kp {
    color: #00979D;
  }

  .kr {
    color: #728E00;
  }

  .kt {
    color: #00979D;
  }

  .m {
    color: #434f54;
  }

  .s {
    color: #7F8C8D;
  }

  .na, .nb, .nc, .no, .nd, .ni, .ne {
    color: #434f54;
  }

  .nf {
    color: #D35400;
  }

  .nl, .nn {
    color: #434f54;
  }

  .nx {
    color: #728E00;
  }

  .py, .nt, .nv, .ow, .mb, .mf, .mh, .mi, .mo {
    color: #434f54;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #7F8C8D;
  }

  .bp, .vc, .vg, .vi, .il {
    color: #434f54;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Name */
/* Operator */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
