.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #aaaaaa;
    font-style: italic;
  }

  .err {
    color: #FF0000;
    background-color: #FFAAAA;
  }

  .k {
    color: #0000aa;
  }

  .ch, .cm {
    color: #aaaaaa;
    font-style: italic;
  }

  .cp {
    color: #4c8317;
  }

  .cpf, .c1 {
    color: #aaaaaa;
    font-style: italic;
  }

  .cs {
    color: #0000aa;
    font-style: italic;
  }

  .gd {
    color: #aa0000;
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: #aa0000;
  }

  .gh {
    color: #000080;
    font-weight: bold;
  }

  .gi {
    color: #00aa00;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #800080;
    font-weight: bold;
  }

  .gt {
    color: #aa0000;
  }

  .kc, .kd, .kn, .kp, .kr {
    color: #0000aa;
  }

  .kt {
    color: #00aaaa;
  }

  .m {
    color: #009999;
  }

  .s {
    color: #aa5500;
  }

  .na {
    color: #1e90ff;
  }

  .nb {
    color: #00aaaa;
  }

  .nc {
    color: #00aa00;
    text-decoration: underline;
  }

  .no {
    color: #aa0000;
  }

  .nd {
    color: #888888;
  }

  .ni {
    color: #880000;
    font-weight: bold;
  }

  .nf {
    color: #00aa00;
  }

  .nn {
    color: #00aaaa;
    text-decoration: underline;
  }

  .nt {
    color: #1e90ff;
    font-weight: bold;
  }

  .nv {
    color: #aa0000;
  }

  .ow {
    color: #0000aa;
  }

  .w {
    color: #bbbbbb;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #009999;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
    color: #aa5500;
  }

  .sr {
    color: #009999;
  }

  .s1 {
    color: #aa5500;
  }

  .ss {
    color: #0000aa;
  }

  .bp {
    color: #00aaaa;
  }

  .vc, .vg, .vi {
    color: #aa0000;
  }

  .il {
    color: #009999;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Function */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
