.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #008800;
    font-style: italic;
  }

  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .k {
    color: #000080;
    font-weight: bold;
  }

  .ch, .cm {
    color: #008800;
    font-style: italic;
  }

  .cp {
    color: #008080;
  }

  .cpf, .c1 {
    color: #008800;
    font-style: italic;
  }

  .cs {
    color: #008800;
    font-weight: bold;
  }

  .gd {
    color: #000000;
    background-color: #ffdddd;
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: #aa0000;
  }

  .gh {
    color: #999999;
  }

  .gi {
    color: #000000;
    background-color: #ddffdd;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #aaaaaa;
  }

  .gt {
    color: #aa0000;
  }

  .kc, .kd, .kn, .kp, .kr, .kt {
    color: #000080;
    font-weight: bold;
  }

  .m, .s {
    color: #0000FF;
  }

  .na {
    color: #FF0000;
  }

  .nt {
    color: #000080;
    font-weight: bold;
  }

  .ow {
    font-weight: bold;
  }

  .w {
    color: #bbbbbb;
  }

  .mb, .mf, .mh, .mi, .mo, .sb {
    color: #0000FF;
  }

  .sc {
    color: #800080;
  }

  .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .il {
    color: #0000FF;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Tag */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Literal.Number.Integer.Long */
