.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    font-style: italic;
  }

  .err {
    border: 1px solid #FF0000;
  }

  .k {
    font-weight: bold;
  }

  .ch, .cm, .cpf, .c1, .cs, .ge {
    font-style: italic;
  }

  .gh, .gp, .gs, .gu, .kc, .kd, .kn, .kr {
    font-weight: bold;
  }

  .s {
    font-style: italic;
  }

  .nc, .ni, .ne, .nn, .nt, .ow {
    font-weight: bold;
  }

  .sb, .sc, .sd, .s2 {
    font-style: italic;
  }

  .se {
    font-weight: bold;
    font-style: italic;
  }

  .sh {
    font-style: italic;
  }

  .si {
    font-weight: bold;
    font-style: italic;
  }

  .sx, .sr, .s1, .ss {
    font-style: italic;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Emph */
/* Generic.Heading */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Reserved */
/* Literal.String */
/* Name.Class */
/* Name.Entity */
/* Name.Exception */
/* Name.Namespace */
/* Name.Tag */
/* Operator.Word */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
