.syntax {
  .hll {
    background-color: #333333;
  }

  background: #111111;
  color: #ffffff;

  .c {
    color: #008800;
    font-style: italic;
    background-color: #0f140f;
  }

  .err, .esc, .g {
    color: #ffffff;
  }

  .k {
    color: #fb660a;
    font-weight: bold;
  }

  .l, .n, .o, .x, .p {
    color: #ffffff;
  }

  .ch, .cm {
    color: #008800;
    font-style: italic;
    background-color: #0f140f;
  }

  .cp {
    color: #ff0007;
    font-weight: bold;
    font-style: italic;
    background-color: #0f140f;
  }

  .cpf, .c1, .cs {
    color: #008800;
    font-style: italic;
    background-color: #0f140f;
  }

  .gd, .ge, .gr {
    color: #ffffff;
  }

  .gh {
    color: #ffffff;
    font-weight: bold;
  }

  .gi {
    color: #ffffff;
  }

  .go {
    color: #444444;
    background-color: #222222;
  }

  .gp, .gs {
    color: #ffffff;
  }

  .gu {
    color: #ffffff;
    font-weight: bold;
  }

  .gt {
    color: #ffffff;
  }

  .kc, .kd, .kn {
    color: #fb660a;
    font-weight: bold;
  }

  .kp {
    color: #fb660a;
  }

  .kr {
    color: #fb660a;
    font-weight: bold;
  }

  .kt {
    color: #cdcaa9;
    font-weight: bold;
  }

  .ld {
    color: #ffffff;
  }

  .m {
    color: #0086f7;
    font-weight: bold;
  }

  .s {
    color: #0086d2;
  }

  .na {
    color: #ff0086;
    font-weight: bold;
  }

  .nb, .nc {
    color: #ffffff;
  }

  .no {
    color: #0086d2;
  }

  .nd, .ni, .ne {
    color: #ffffff;
  }

  .nf {
    color: #ff0086;
    font-weight: bold;
  }

  .nl, .nn, .nx, .py {
    color: #ffffff;
  }

  .nt {
    color: #fb660a;
    font-weight: bold;
  }

  .nv {
    color: #fb660a;
  }

  .ow {
    color: #ffffff;
  }

  .w {
    color: #888888;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #0086f7;
    font-weight: bold;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #0086d2;
  }

  .bp {
    color: #ffffff;
  }

  .vc, .vg, .vi {
    color: #fb660a;
  }

  .il {
    color: #0086f7;
    font-weight: bold;
  }
}

/* Comment */
/* Error */
/* Escape */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Other */
/* Punctuation */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
