.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #FF0000;
    font-style: italic;
  }

  .k {
    color: #0000FF;
  }

  .ch, .cm, .cp, .cpf, .c1, .cs {
    color: #FF0000;
    font-style: italic;
  }

  .kc, .kd, .kn, .kp, .kr, .kt {
    color: #0000FF;
  }

  .s {
    color: #009C00;
  }

  .nc {
    color: #007575;
  }

  .nd {
    color: #CC00A3;
  }

  .nf {
    color: #C34E00;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #009C00;
  }
}

/* Comment */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.String */
/* Name.Class */
/* Name.Decorator */
/* Name.Function */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
