.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #888888;
    font-style: italic;
  }

  .err {
    background-color: #a848a8;
  }

  .k {
    color: #2838b0;
  }

  .o {
    color: #666666;
  }

  .p {
    color: #888888;
  }

  .ch {
    color: #287088;
    font-style: italic;
  }

  .cm {
    color: #888888;
    font-style: italic;
  }

  .cp {
    color: #289870;
  }

  .cpf, .c1, .cs {
    color: #888888;
    font-style: italic;
  }

  .gd {
    color: #c02828;
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: #c02828;
  }

  .gh {
    color: #666666;
  }

  .gi {
    color: #388038;
  }

  .go {
    color: #666666;
  }

  .gp {
    color: #444444;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #444444;
  }

  .gt {
    color: #2838b0;
  }

  .kc {
    color: #444444;
    font-style: italic;
  }

  .kd {
    color: #2838b0;
    font-style: italic;
  }

  .kn, .kp, .kr {
    color: #2838b0;
  }

  .kt {
    color: #2838b0;
    font-style: italic;
  }

  .m {
    color: #444444;
  }

  .s {
    color: #b83838;
  }

  .na, .nb {
    color: #388038;
  }

  .nc {
    color: #287088;
  }

  .no {
    color: #b85820;
  }

  .nd {
    color: #287088;
  }

  .ni {
    color: #709030;
  }

  .ne {
    color: #908828;
  }

  .nf {
    color: #785840;
  }

  .nl, .nn {
    color: #289870;
  }

  .nt {
    color: #2838b0;
  }

  .nv {
    color: #b04040;
  }

  .ow {
    color: #a848a8;
  }

  .w {
    color: #a89028;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #444444;
  }

  .sb {
    color: #b83838;
  }

  .sc {
    color: #a848a8;
  }

  .sd {
    color: #b85820;
    font-style: italic;
  }

  .s2 {
    color: #b83838;
  }

  .se {
    color: #709030;
  }

  .sh {
    color: #b83838;
  }

  .si {
    color: #b83838;
    text-decoration: underline;
  }

  .sx, .sr {
    color: #a848a8;
  }

  .s1, .ss {
    color: #b83838;
  }

  .bp {
    color: #388038;
    font-style: italic;
  }

  .vc {
    color: #b04040;
  }

  .vg {
    color: #908828;
  }

  .vi {
    color: #b04040;
  }

  .il {
    color: #444444;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Operator */
/* Punctuation */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
