.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #888888;
  }

  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .k {
    color: #008800;
    font-weight: bold;
  }

  .ch, .cm {
    color: #888888;
  }

  .cp {
    color: #cc0000;
    font-weight: bold;
  }

  .cpf, .c1 {
    color: #888888;
  }

  .cs {
    color: #cc0000;
    font-weight: bold;
    background-color: #fff0f0;
  }

  .gd {
    color: #000000;
    background-color: #ffdddd;
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: #aa0000;
  }

  .gh {
    color: #333333;
  }

  .gi {
    color: #000000;
    background-color: #ddffdd;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #666666;
  }

  .gt {
    color: #aa0000;
  }

  .kc, .kd, .kn {
    color: #008800;
    font-weight: bold;
  }

  .kp {
    color: #008800;
  }

  .kr {
    color: #008800;
    font-weight: bold;
  }

  .kt {
    color: #888888;
    font-weight: bold;
  }

  .m {
    color: #0000DD;
    font-weight: bold;
  }

  .s {
    color: #dd2200;
    background-color: #fff0f0;
  }

  .na {
    color: #336699;
  }

  .nb {
    color: #003388;
  }

  .nc {
    color: #bb0066;
    font-weight: bold;
  }

  .no {
    color: #003366;
    font-weight: bold;
  }

  .nd {
    color: #555555;
  }

  .ne {
    color: #bb0066;
    font-weight: bold;
  }

  .nf {
    color: #0066bb;
    font-weight: bold;
  }

  .nl {
    color: #336699;
    font-style: italic;
  }

  .nn {
    color: #bb0066;
    font-weight: bold;
  }

  .py {
    color: #336699;
    font-weight: bold;
  }

  .nt {
    color: #bb0066;
    font-weight: bold;
  }

  .nv {
    color: #336699;
  }

  .ow {
    color: #008800;
  }

  .w {
    color: #bbbbbb;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #0000DD;
    font-weight: bold;
  }

  .sb, .sc, .sd, .s2 {
    color: #dd2200;
    background-color: #fff0f0;
  }

  .se {
    color: #0044dd;
    background-color: #fff0f0;
  }

  .sh {
    color: #dd2200;
    background-color: #fff0f0;
  }

  .si {
    color: #3333bb;
    background-color: #fff0f0;
  }

  .sx {
    color: #22bb22;
    background-color: #f0fff0;
  }

  .sr {
    color: #008800;
    background-color: #fff0ff;
  }

  .s1 {
    color: #dd2200;
    background-color: #fff0f0;
  }

  .ss {
    color: #aa6600;
    background-color: #fff0f0;
  }

  .bp {
    color: #003388;
  }

  .vc {
    color: #336699;
  }

  .vg {
    color: #dd7700;
  }

  .vi {
    color: #3333bb;
  }

  .il {
    color: #0000DD;
    font-weight: bold;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
