.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #eeeedd;

  .c {
    color: #228B22;
  }

  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .k {
    color: #8B008B;
    font-weight: bold;
  }

  .ch, .cm {
    color: #228B22;
  }

  .cp {
    color: #1e889b;
  }

  .cpf, .c1 {
    color: #228B22;
  }

  .cs {
    color: #8B008B;
    font-weight: bold;
  }

  .gd {
    color: #aa0000;
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: #aa0000;
  }

  .gh {
    color: #000080;
    font-weight: bold;
  }

  .gi {
    color: #00aa00;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #800080;
    font-weight: bold;
  }

  .gt {
    color: #aa0000;
  }

  .kc, .kd, .kn, .kp, .kr {
    color: #8B008B;
    font-weight: bold;
  }

  .kt {
    color: #a7a7a7;
    font-weight: bold;
  }

  .m {
    color: #B452CD;
  }

  .s {
    color: #CD5555;
  }

  .na, .nb {
    color: #658b00;
  }

  .nc {
    color: #008b45;
    font-weight: bold;
  }

  .no {
    color: #00688B;
  }

  .nd {
    color: #707a7c;
  }

  .ne {
    color: #008b45;
    font-weight: bold;
  }

  .nf {
    color: #008b45;
  }

  .nn {
    color: #008b45;
    text-decoration: underline;
  }

  .nt {
    color: #8B008B;
    font-weight: bold;
  }

  .nv {
    color: #00688B;
  }

  .ow {
    color: #8B008B;
  }

  .w {
    color: #bbbbbb;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #B452CD;
  }

  .sb, .sc, .sd, .s2, .se {
    color: #CD5555;
  }

  .sh {
    color: #1c7e71;
    font-style: italic;
  }

  .si {
    color: #CD5555;
  }

  .sx {
    color: #cb6c20;
  }

  .sr {
    color: #1c7e71;
  }

  .s1, .ss {
    color: #CD5555;
  }

  .bp {
    color: #658b00;
  }

  .vc, .vg, .vi {
    color: #00688B;
  }

  .il {
    color: #B452CD;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Exception */
/* Name.Function */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
