.syntax {
  .hll {
    background-color: #0000ff;
  }

  background: #000000;

  .c {
    color: #00ff00;
  }

  .k {
    color: #ff0000;
  }

  .ch, .cm {
    color: #00ff00;
  }

  .cp {
    color: #e5e5e5;
  }

  .cpf, .c1, .cs {
    color: #00ff00;
  }

  .kc, .kd, .kn, .kp, .kr {
    color: #ff0000;
  }

  .kt {
    color: #ee82ee;
  }

  .s {
    color: #87ceeb;
  }

  .no {
    color: #7fffd4;
  }

  .nf {
    color: #ffff00;
  }

  .nv {
    color: #eedd82;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #87ceeb;
  }

  .vc, .vg, .vi {
    color: #eedd82;
  }
}

/* Comment */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.String */
/* Name.Constant */
/* Name.Function */
/* Name.Variable */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
