.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #1c1c1c;
  color: #8a8a8a;

  .c {
    color: #4e4e4e;
  }

  .err, .esc, .g {
    color: #8a8a8a;
  }

  .k {
    color: #5f8700;
  }

  .l, .n, .o {
    color: #8a8a8a;
  }

  .x {
    color: #d75f00;
  }

  .p {
    color: #8a8a8a;
  }

  .ch, .cm {
    color: #4e4e4e;
  }

  .cp {
    color: #5f8700;
  }

  .cpf, .c1 {
    color: #4e4e4e;
  }

  .cs {
    color: #5f8700;
  }

  .gd {
    color: #af0000;
  }

  .ge {
    color: #8a8a8a;
    font-style: italic;
  }

  .gr {
    color: #af0000;
    font-weight: bold;
  }

  .gh {
    color: #d75f00;
  }

  .gi {
    color: #5f8700;
  }

  .go, .gp {
    color: #8a8a8a;
  }

  .gs {
    color: #8a8a8a;
    font-weight: bold;
  }

  .gu {
    color: #0087ff;
  }

  .gt {
    color: #8a8a8a;
  }

  .kc {
    color: #d75f00;
  }

  .kd {
    color: #0087ff;
  }

  .kn {
    color: #d75f00;
  }

  .kp {
    color: #5f8700;
  }

  .kr {
    color: #0087ff;
  }

  .kt {
    color: #af0000;
  }

  .ld {
    color: #8a8a8a;
  }

  .m, .s {
    color: #00afaf;
  }

  .na {
    color: #8a8a8a;
  }

  .nb, .nc {
    color: #0087ff;
  }

  .no {
    color: #d75f00;
  }

  .nd {
    color: #0087ff;
  }

  .ni {
    color: #d75f00;
  }

  .ne {
    color: #af8700;
  }

  .nf {
    color: #0087ff;
  }

  .nl, .nn, .nx, .py {
    color: #8a8a8a;
  }

  .nt, .nv {
    color: #0087ff;
  }

  .ow {
    color: #5f8700;
  }

  .w {
    color: #8a8a8a;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #00afaf;
  }

  .sb {
    color: #4e4e4e;
  }

  .sc, .sd, .s2 {
    color: #00afaf;
  }

  .se {
    color: #af0000;
  }

  .sh, .si, .sx {
    color: #00afaf;
  }

  .sr {
    color: #af0000;
  }

  .s1, .ss {
    color: #00afaf;
  }

  .bp, .vc, .vg, .vi {
    color: #0087ff;
  }

  .il {
    color: #00afaf;
  }
}

/* Comment */
/* Error */
/* Escape */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Other */
/* Punctuation */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
