.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #f8f8f8;

  .c {
    color: #8f5902;
    font-style: italic;
  }

  .err {
    color: #a40000;
    border: 1px solid #ef2929;
  }

  .g {
    color: #000000;
  }

  .k {
    color: #204a87;
    font-weight: bold;
  }

  .l, .n {
    color: #000000;
  }

  .o {
    color: #ce5c00;
    font-weight: bold;
  }

  .x {
    color: #000000;
  }

  .p {
    color: #000000;
    font-weight: bold;
  }

  .ch, .cm, .cp, .cpf, .c1, .cs {
    color: #8f5902;
    font-style: italic;
  }

  .gd {
    color: #a40000;
  }

  .ge {
    color: #000000;
    font-style: italic;
  }

  .gr {
    color: #ef2929;
  }

  .gh {
    color: #000080;
    font-weight: bold;
  }

  .gi {
    color: #00A000;
  }

  .go {
    color: #000000;
    font-style: italic;
  }

  .gp {
    color: #8f5902;
  }

  .gs {
    color: #000000;
    font-weight: bold;
  }

  .gu {
    color: #800080;
    font-weight: bold;
  }

  .gt {
    color: #a40000;
    font-weight: bold;
  }

  .kc, .kd, .kn, .kp, .kr, .kt {
    color: #204a87;
    font-weight: bold;
  }

  .ld {
    color: #000000;
  }

  .m {
    color: #0000cf;
    font-weight: bold;
  }

  .s {
    color: #4e9a06;
  }

  .na {
    color: #c4a000;
  }

  .nb {
    color: #204a87;
  }

  .nc, .no {
    color: #000000;
  }

  .nd {
    color: #5c35cc;
    font-weight: bold;
  }

  .ni {
    color: #ce5c00;
  }

  .ne {
    color: #cc0000;
    font-weight: bold;
  }

  .nf {
    color: #000000;
  }

  .nl {
    color: #f57900;
  }

  .nn, .nx, .py {
    color: #000000;
  }

  .nt {
    color: #204a87;
    font-weight: bold;
  }

  .nv {
    color: #000000;
  }

  .ow {
    color: #204a87;
    font-weight: bold;
  }

  .w {
    color: #f8f8f8;
    text-decoration: underline;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #0000cf;
    font-weight: bold;
  }

  .sb, .sc {
    color: #4e9a06;
  }

  .sd {
    color: #8f5902;
    font-style: italic;
  }

  .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #4e9a06;
  }

  .bp {
    color: #3465a4;
  }

  .vc, .vg, .vi {
    color: #000000;
  }

  .il {
    color: #0000cf;
    font-weight: bold;
  }
}

/* Comment */
/* Error */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Other */
/* Punctuation */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
