.syntax {
  .hll {
    background-color: #222222;
  }

  background: #000000;
  color: #cccccc;

  .c {
    color: #000080;
  }

  .err {
    color: #cccccc;
    border: 1px solid #FF0000;
  }

  .esc, .g {
    color: #cccccc;
  }

  .k {
    color: #cdcd00;
  }

  .l, .n {
    color: #cccccc;
  }

  .o {
    color: #3399cc;
  }

  .x, .p {
    color: #cccccc;
  }

  .ch, .cm, .cp, .cpf, .c1 {
    color: #000080;
  }

  .cs {
    color: #cd0000;
    font-weight: bold;
  }

  .gd {
    color: #cd0000;
  }

  .ge {
    color: #cccccc;
    font-style: italic;
  }

  .gr {
    color: #FF0000;
  }

  .gh {
    color: #000080;
    font-weight: bold;
  }

  .gi {
    color: #00cd00;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #000080;
    font-weight: bold;
  }

  .gs {
    color: #cccccc;
    font-weight: bold;
  }

  .gu {
    color: #800080;
    font-weight: bold;
  }

  .gt {
    color: #0044DD;
  }

  .kc {
    color: #cdcd00;
  }

  .kd {
    color: #00cd00;
  }

  .kn {
    color: #cd00cd;
  }

  .kp, .kr {
    color: #cdcd00;
  }

  .kt {
    color: #00cd00;
  }

  .ld {
    color: #cccccc;
  }

  .m {
    color: #cd00cd;
  }

  .s {
    color: #cd0000;
  }

  .na {
    color: #cccccc;
  }

  .nb {
    color: #cd00cd;
  }

  .nc {
    color: #00cdcd;
  }

  .no, .nd, .ni {
    color: #cccccc;
  }

  .ne {
    color: #666699;
    font-weight: bold;
  }

  .nf, .nl, .nn, .nx, .py, .nt {
    color: #cccccc;
  }

  .nv {
    color: #00cdcd;
  }

  .ow {
    color: #cdcd00;
  }

  .w {
    color: #cccccc;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #cd00cd;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #cd0000;
  }

  .bp {
    color: #cd00cd;
  }

  .vc, .vg, .vi {
    color: #00cdcd;
  }

  .il {
    color: #cd00cd;
  }
}

/* Comment */
/* Error */
/* Escape */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Other */
/* Punctuation */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
