.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #008000;
  }

  .err {
    border: 1px solid #FF0000;
  }

  .k {
    color: #0000ff;
  }

  .ch, .cm {
    color: #008000;
  }

  .cp {
    color: #0000ff;
  }

  .cpf, .c1, .cs {
    color: #008000;
  }

  .ge {
    font-style: italic;
  }

  .gh, .gp, .gs, .gu {
    font-weight: bold;
  }

  .kc, .kd, .kn, .kp, .kr {
    color: #0000ff;
  }

  .kt {
    color: #2b91af;
  }

  .s {
    color: #a31515;
  }

  .nc {
    color: #2b91af;
  }

  .ow {
    color: #0000ff;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #a31515;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Emph */
/* Generic.Heading */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.String */
/* Name.Class */
/* Operator.Word */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
