.syntax {
  .hll {
    background-color: #ffffcc;
  }

  background: #ffffff;

  .c {
    color: #177500;
  }

  .err {
    color: #000000;
  }

  .k {
    color: #A90D91;
  }

  .l {
    color: #1C01CE;
  }

  .n, .o {
    color: #000000;
  }

  .ch, .cm {
    color: #177500;
  }

  .cp {
    color: #633820;
  }

  .cpf, .c1, .cs {
    color: #177500;
  }

  .kc, .kd, .kn, .kp, .kr, .kt {
    color: #A90D91;
  }

  .ld, .m {
    color: #1C01CE;
  }

  .s {
    color: #C41A16;
  }

  .na {
    color: #836C28;
  }

  .nb {
    color: #A90D91;
  }

  .nc {
    color: #3F6E75;
  }

  .no, .nd, .ni, .ne, .nf, .nl, .nn, .nx, .py, .nt, .nv, .ow {
    color: #000000;
  }

  .mb, .mf, .mh, .mi, .mo {
    color: #1C01CE;
  }

  .sb {
    color: #C41A16;
  }

  .sc {
    color: #2300CE;
  }

  .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #C41A16;
  }

  .bp {
    color: #5B269A;
  }

  .vc, .vg, .vi {
    color: #000000;
  }

  .il {
    color: #1C01CE;
  }
}

/* Comment */
/* Error */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
