.blog-page
	max-width: 40em
	margin: 0 auto
	line-height: 1.5

.blog-page__date
	text-align: center
	color: $gray50--text

.blog-page__body
	padding-top: 3rem

	+media-breakpoint-down(extra-small)
		padding-top: 2rem

.blog-page__return-button
	margin-top: $layout-padding
