.blog-tease
	padding-bottom: 3rem
	display: flex
	align-items: flex-start
	+media-breakpoint-down(extra-small)
		flex-direction: column

.blog-tease__hexagon-wrapper
	width: 2rem
	height: auto
	margin-right: 1rem
	margin-bottom: 1rem
	flex-grow: 0
	flex-shrink: 0

.blog-tease__hexagon
	position: relative
	width: 2rem
	top: -5px

.blog-tease__body
	flex-grow: 1

.blog-tease__title
	font-weight: $sans-bold
	line-height: 1.5
	font-size: $h3

.blog-tease__title-link
	+link__no-underline($black)

.blog-tease__footer
	display: flex
	justify-content: space-between

.blog-tease__text
	line-height: 1.5

.blog-tease__description::after
	content: ' '

.blog-tease__date
	color: $gray50--text

.blog-tease__chevron
	+text-chevron--right

.blog-tease__link
	+media-breakpoint-down(extra-small)
		display: none

.blog-tease__mobile-link
	display: inline

	+media-breakpoint-up(small)
		display: none
