.pdfobject-container
	margin-bottom: 1rem
	display: block
	width: 100%
	// Height fallback
	height: 600px
	// Good height: PDF viewer will never be too big for your screen
	height: 96vh

.pdfobject
	width: 100%
	height: 100%

.pdfobject-fallback
	border: 1rem solid rgba(0,0,0,.1)
	padding: 1rem
