@use "../base/mixins/breakpoints";
@use "../base/mixins/buttons";
@use "../base/mixins/chevrons";
@use "../base/variables";

.blog-page {
	max-width: 40em;
	margin: 0 auto;
	line-height: 1.5;
}

.blog-page__date {
	text-align: center;
	color: variables.$gray50--text;
}

.blog-page__body {
	padding-top: 3rem;

	@include breakpoints.media-breakpoint-down(extra-small) {
		padding-top: 2rem;
	}
}

.blog-page__return-button {
	@include buttons.button-small;
	@include buttons.button-solid--gray;

	text-decoration: none;
	margin-top: variables.$layout-padding;
}

.blog-page__chevron-left {
	@include chevrons.text-chevron--left;
}
