@use "../base/mixins/links";
@use "../base/mixins/lists";
@use "../base/variables";

$release-preview-spacer: 1rem;

.release-preview {
	margin: 2rem 0 0 $release-preview-spacer;
	padding: 0.25rem 0 0.25rem $release-preview-spacer;
	border-left: variables.$border-left;
}

.release-preview__title {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: variables.$sans-regular;
	margin: 0;
	line-height: 1.5;
}

.release-preview__tag {
	font-weight: variables.$sans-bold;
	margin-bottom: 0;
	padding-top: 1rem;
}

.release-preview__links {
	list-style: none;
	margin: 0.375rem 0;
	padding: 0;

	li {
		display: inline-block;

		@include lists.list-comma(" |");
	}
}

.release-preview__link {
	@include links.link-no-underline(variables.$gray50-text, variables.$brand-primary);

	&::after {
		// sets color of list separator
		color: variables.$black;
	}
}
