$search-icon-width: 36px
$search-icon-padding: 4px

.autocomplete__search--has-input
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0


.autocomplete__search-input-container
	position: relative


.autocomplete__search
	padding-left: $search-icon-width + 2 * $search-icon-padding


.autocomplete__search-icon
	position: absolute
	z-index: 2
	left: $search-icon-padding
	top: 7px  // For centering in the Wagtail input.
	height: $search-icon-width
	width: $search-icon-width
	color: $search-icon-color
