$space-between: 2%

.autocomplete-layout
	display: flex
	justify-content: space-between


.autocomplete-layout__item
	// Cheap but robust padding when combined with space-between
	width: 50% - $space-between / 2
