.selection
	background-color: $selection-bg
	color: $selection-fg
	font-size: 1.2em
	border-radius: $wagtail-border-radius
	margin-bottom: 1em
	display: flex
	justify-content: space-between
	align-items: center

	&:last-child
		margin-bottom: 0


.selection--single
	margin-bottom: 0


.selection__label,
.selection__button
	padding: 0.9em 1.2em


.selection__button
	background-color: transparent
	border: 0


.selection__icon
	width: 1.2em
	height: 1.2em

	path
		fill: $white
