{% load get_menu i18n %}

{% get_menu 'main' as menu_items %}

<nav class="sliding-nav js-sliding-nav">
	{% include "common/_logo_color.svg" with class="sliding-nav__logo" %}
	<ul class='sliding-nav__list'>
		<li class="sliding-nav__item">
			<a class='sliding-nav__link' href="/">
				{% trans "Home" %}
			</a>
		</li>
		{% for item in menu_items %}
			<li class="sliding-nav__item">
				<a class='sliding-nav__link {{ item.html_classes }}' href="{{ item.url }}">
					{{ item.text }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
