interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ap.org/en-us/
  response:
    body: {string: "\n\n\n\n<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js\">\n\
        \  <head>\n      <!-- Google Tag Manager --> \n    <script>        (function\
        \ (w, d, s, l, i) {\n            w[l] = w[l] || []; w[l].push({ 'gtm.start':\n\
        \    new Date().getTime(), event: 'gtm.js'\n            }); var f = d.getElementsByTagName(s)[0],\n\
        \    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async\
        \ = true; j.src =\n    'https://www.googletagmanager.com/gtm.js?id=' + i +\
        \ dl; f.parentNode.insertBefore(j, f);\n        })(window, document, 'script',\
        \ 'dataLayer', 'GTM-TSGB826');</script> \n    <!-- End Google Tag Manager\
        \ --> \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"\
        width=device-width, initial-scale=1\">\n    <meta name=\"apple-itunes-app\"\
        \ content=\"app-id=364677107, affiliate-data=, app-argument=\"/>    <link\
        \ rel=\"preload\" as=\"font\" href='/assets/fonts/goodot-book-webfont.eot'\
        \ >\n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/goodot-book-webfont.woff'\
        \ >\n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/goodot-bold-webfont.eot'\
        \ >\n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/goodot-bold-webfont.woff'\
        \ >\n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/freigtexprobook-webfont.eot'\
        \ >\n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/freigtexprobook-webfont.woff'\
        \ >    \n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/goodweb-condbook.eot'\
        \ >\n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/goodweb-condbook.woff'\
        \ >    \n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/goodweb-condbold.eot'\
        \ >\n    <link rel=\"preload\" as=\"font\" href='/assets/fonts/goodweb-condbold.woff'\
        \ >    \n    <link rel=\"stylesheet\" href=\"/assets/styles/site.css\" media=\"\
        all\" />\n\t\t\n    <meta name=\"format-detection\" content=\"telephone=no\"\
        >\n    <script src=\"/assets/scripts/vendor/modernizr.js\"></script>\n\t \
        \ <script src=\"/assets/scripts/vendor/jquery.js\"></script>\n    <script\
        \ src=\"//searchg2-assets.crownpeak.net/crownpeak.searchg2-1.0.2.min.js\"\
        ></script>\n\t\t\n\t  <title>Associated Press</title>\r\n\r\n\n<meta name=\"\
        title\" content=\"Associated Press\"/>\r\n<meta name=\"description\" content=\"\
        Build your next story with up-to-the-minute breaking news and history's most\
        \ iconic images and video directly from The Associated Press. Where stories\
        \ begin.\"/>\r\n<meta name=\"keywords\" content=\"Associated Press, AP\"/>\r\
        \n<meta name=\"robots\" content=\"\"/>\r\n\r\n<meta name=\"page_id\" content=\"\
        7206\"/>\r\n<link rel=\"canonical\" href=\"https://www.ap.org/en-us/\"/>\r\
        \n<meta property=\"og:type\" content=\"website\"/>\r\n<meta property=\"og:url\"\
        \ content=\"https://www.ap.org/en-us/\"/>\r\n<meta property=\"og:title\" content=\"\
        The Associated Press\"/>\r\n<meta property=\"og:description\" content=\"Build\
        \ your next story with up-to-the-minute breaking news and history's most iconic\
        \ images and video directly from The Associated Press. Where stories begin.\"\
        />\r\n<meta property=\"og:image\" content=\"http://www.ap.org/assets/images/heroes/ap_18246194340339-hero-rt.jpg\"\
        />\r\n<meta property=\"og:image:width\" content=\"1440\"/>\r\n<meta property=\"\
        og:image:height\" content=\"617\"/>\r\n\r\n<meta name=\"twitter:card\" content=\"\
        summary_large_image\"/>\r\n<meta name=\"twitter:title\" content=\"The Associated\
        \ Press\"/>\r\n<meta name=\"twitter:description\" content=\"Build your next\
        \ story with up-to-the-minute breaking news and history's most iconic images\
        \ and video directly from The Associated Press. Where stories begin.\"/>\r\
        \n<meta name=\"twitter:image\" content=\"http://www.ap.org/assets/i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://publicsuffix.org/list/public_suffix_list.dat
  response:
    body: {string: "// This Source Code Form is subject to the terms of the Mozilla\
        \ Public\n// License, v. 2.0. If a copy of the MPL was not distributed with\
        \ this\n// file, You can obtain one at https://mozilla.org/MPL/2.0/.\n\n//\
        \ Please pull this list from, and only from https://publicsuffix.org/list/public_suffix_list.dat,\n\
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ap.org/assets/styles/site.css
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAwAAAP//3Frrb+O4Ef++fwWxi4WTPcvRy06ioOihB1xRoIcW7fVTcVjQEmWrkUWV
        khL7iv3fO3xJpB5+dL05oPF6bZMzw+GP8yKpiFFao/+8QyilRe1U2a8k8txy//Tuy7ttvctF15ru
        eU9WbKI1ZQlhDrRwik9z9CmKcFoTJr6tSUoZ6fNkxZawrOYM34tRUhwDEVLfd1l+iGZ/pDT5y8/O
        Hyh9nj2hisVRw/Kb2R2uKlJXd5y2utsAEa1hdPrsvJI1b1wQWs9uL+X4/YeMpNl+dgtKsB2ub2Zk
        tyZJQhKHlqSoDyWZ3c5hGurvTMmvNE0NmfLnk5zoK8k22zoKXVc1VPUhJ1HBafMndBY2eXIGNnly
        KTY2xzWxMSR/I2x+ZIIX/Uz2Nforo+i4BaWcvCb7ktELrOgI1xXQmpL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://chromium.googlesource.com/chromium/src/net/+/master/http/transport_security_state_static.json?format=TEXT
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAOy9W3faSBMo+oPOw9HFyg6PwbGEGaz5LAdd+k3qZiygWyhGAsSv31UtsEls7GQy
        oGKt/eCVGRvUparqul9GzefHe6u3nsTDklm5cXudz/56+NLcfb1pbt1gwR76X9PBcJVF0swe+n0R
        B4vMHm5H034/89aPXMkiHQTb28FQcitshArno8fFatT0Q26NHzMreRReXvKmv83ssEngd4nVm8Nz
        8XdFZjPJlSPZ[...]
