{% load wagtailimages_tags %}
{% load field_extras widget_type from form_tags %}

{% widget_type field.field as css_modifier %}
{% field_extras field as extras %}

<div class="basic-form__group basic-form__group--{{ css_modifier }}">

	<div class="basic-form__group-main">
		<label class="basic-form__label basic-form__label--{{ css_modifier }}" for="{{ field.id_for_label }}">
			<div class="basic-form__label-title basic-form__label-title--{{ css_modifier }}">
				{{ field.label }}
				{% if field.field.required %}
					<span class="basic-form__label-required" title="Required">*</span>
				{% endif %}
			</div>
			{% if field.help_text %}
				<div class="basic-form__label-help-text">
					{{ field.help_text|safe }}
				</div>
			{% endif %}
		</label>
		<div class="basic-form__field basic-form__field--{{ css_modifier }}">
			{{ field }}
		</div>
	</div>

	{% if extras.image %}
		<div class="basic-form__image">
			{% image extras.image max-1500x1500 as full_image %}
			<a class="js-lightbox" href="{{ full_image.url }}">
				{% image extras.image max-600x600 %}
			</a>
		</div>
	{% endif %}

</div>