@use "../base/mixins/breakpoints";
@use "../base/mixins/links";
@use "../base/variables";

.features-sidebar__image {
	display: block;

	@include breakpoints.media-breakpoint-down(extra-small) {
		margin: 0 auto;
	}
}

.features-sidebar__list {
	margin: variables.$layout-padding 0 0;
	padding: 0.5rem 0 0.5rem 2rem;
	border-left: variables.$border-left;

	@include breakpoints.media-breakpoint-down(extra-small) {
		margin-bottom: -1.5rem;
	}
}

.features-sidebar__link {
	@include links.link-underline(variables.$brand-secondary-text);
}
