.search-list
  +list--unstyled

.search-list__item
  // As a flex-parent
  display: flex
  align-items: flex-start
  margin-bottom: $layout-padding

.search-list__icon
  width: 3rem
  height: auto
  padding-right: 1rem
  flex-shrink: 0
  flex-grow: 0
  // line up the top of the icon with the title
  margin-top: 0.5rem

.search-list__icon--W
  // line up the middle of the hexagon with the title
  margin-top: -2px
  fill: $slate

.search-item
  align-self: stretch
  flex-grow: 1

.search-item__header
  display: flex
  justify-content: space-between

.search-item__title
  color: $link-color

.search-item__link
  +link--no_underline($link-color, $link-hover-color)

.search-item__subtitle
  text-transform: uppercase
  color: $gray50--text
  font-size: 17px
  margin-top: 6px

.search-item__description
  .rich-text
    +p-remove-first-and-last-margin

    &:before
      content: ". . . "

.no-results
  margin-bottom: $layout-padding
  font-size: $h2
