interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://docs.securedrop.org/en/stable/index.html
  response:
    body:
      string: "\n\n<!DOCTYPE html>\n<html class=\"writer-html5\" lang=\"en\" data-content_root=\"./\">\n<head>\n
        \ <meta charset=\"utf-8\" /><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\n  <title>Welcome to SecureDrop\u2019s documentation!
        &mdash; SecureDrop stable documentation</title>\n      <link rel=\"stylesheet\"
        type=\"text/css\" href=\"_static/pygments.css?v=03e43079\" />\n      <link
        rel=\"stylesheet\" type=\"text/css\" href=\"_static/css/theme.css?v=e59714d7\"
        />\n      <link rel=\"stylesheet\" type=\"text/css\" href=\"_static/rtd_dark.css?v=c2ecd34e\"
        />\n\n  \n      <script src=\"_static/jquery.js?v=5d32c60e\"></script>\n      <script
        src=\"_static/_sphinx_javascript_frameworks_compat.js?v=2cd50e6c\"></script>\n
        \     <script src=\"_static/documentation_options.js?v=ea3bebfc\"></script>\n
        \     <script src=\"_static/doctools.js?v=9bcbadda\"></script>\n      <script
        src=\"_static/sphinx_highlight.js?v=dc90522c\"></script>\n    <script src=\"_static/js/theme.js\"></script>\n
        \   <link rel=\"index\" title=\"Index\" href=\"genindex.html\" />\n    <link
        rel=\"search\" title=\"Search\" href=\"search.html\" />\n    <link rel=\"next\"
        title=\"What Is SecureDrop?\" href=\"what_is_securedrop.html\" />\n<link rel=\"stylesheet\"
        href=\"_static/releases.css\" type=\"text/css\" />\n\n</head>\n\n<body class=\"wy-body-for-nav\">\n<div
        class=\"rst-versions\" data-toggle=\"rst-versions\" role=\"note\" aria-label=\"versions\">\n
        \   <span class=\"rst-current-version\" data-toggle=\"rst-current-version\">\n
        \       <span class=\"fa fa-book\">SecureDrop Docs</span>\n        v: stable\n
        \       <span class=\"fa fa-caret-down\"></span>\n    </span>\n    <div class=\"rst-other-versions\">\n
        \       <dl>\n            <dt>Versions</dt>\n            <dd class=\"current-release\">\n
        \               <a href=\"/en/stable/index.html\">stable</a>\n            </dd>\n
        \           <dd>\n                <a href=\"/en/latest/index.html\">latest</a>\n
        \           </dd>\n        </dl>\n        <dl>\n            <dt>Downloads</dt>\n
        \           <dd><a href=\"/en/stable/SecureDrop.pdf\">PDF</a></dd>\n        </dl>\n
        \       <hr>\n        <small>\n            A project of <a href=\"https://freedom.press/\">Freedom
        of the Press Foundation</a> \xB7\n            <a href=\"https://freedom.press/privacy-policy/\">Privacy
        Policy</a>\n        </small>\n    </div>\n</div>\n\n  <div class=\"wy-grid-for-nav\">\n
        \   <nav data-toggle=\"wy-nav-shift\" class=\"wy-nav-side\">\n      <div class=\"wy-side-scroll\">\n
        \       <div class=\"wy-side-nav-search\" >\n\n          \n          \n          <a
        href=\"#\" class=\"icon icon-home\">\n            SecureDrop\n              <img
        src=\"_static/favicon.png\" class=\"logo\" alt=\"Logo\"/>\n          </a>\n<div
        role=\"search\">\n  <form id=\"rtd-search-form\" class=\"wy-form\" action=\"search.html\"
        method=\"get\">\n    <input type=\"text\" name=\"q\" placeholder=\"Search
        docs\" aria-label=\"Search docs\" />\n    <input type=\"hidden\" name=\"check_keywords\"
        value=\"yes\" />\n    <input type=\"hidden\" name=\"area\" value=\"default\"
        />\n  </form>\n</div>\n        </div><div class=\"wy-menu wy-menu-vertical\"
        data-spy=\"affix\" role=\"navigation\" aria-label=\"Navigation menu\">\n              <p
        class=\"caption\" role=\"heading\"><span class=\"caption-text\">Overview</span></p>\n<ul>\n<li
        class=\"toctree-l1\"><a class=\"reference internal\" href=\"what_is_securedrop.html\">What
        Is SecureDrop?</a></li>\n<li class=\"toctree-l1\"><a class=\"reference internal\"
        href=\"what_makes_securedrop_unique.html\">What Makes SecureDrop Unique?</a></li>\n<li
        class=\"toctree-l1\"><a class=\"reference internal\" href=\"glossary.html\">Glossary</a></li>\n<li
        class=\"toctree-l1\"><a class=\"reference internal\" href=\"threat_model/threat_model.html\">Threat
        Model</a></li>\n<li class=\"toctree-l1\"><a class=\"reference internal\" href=\"threat_model/dataflow.html\">Data
        Flow Di[...]
