.suggestions
	+list--unstyled

.suggestions__item
	font-size: 1em
	padding: 0.5em 0.6em
	color: $black

.suggestions__item--active
	background-color: $gray10
	color: $black

	path
		fill: currentColor

.suggestions__sub--single
	display: block
