@use "../base/mixins/breakpoints";
@use "../base/mixins/links";
@use "../base/mixins/utilities";
@use "../base/variables";

.blockquote {
	@include utilities.p-remove-first-and-last-margin;
	color: variables.$gray50-text;

	@include breakpoints.media-breakpoint-down(extra-small) {
		margin-left: 2rem;
		margin-right: 0;
	}

	&__citation {
		@include utilities.p-remove-first-and-last-margin;
		@include links.link-no-underline;
		display: block;
		font-style: normal;
		margin-top: 0.5em;
	}
}
