{% load wagtailcore_tags wagtailimages_tags %}

<div class="features__items">
	{% for feature in features %}
		<a href="{% pageurl feature.feature %}">
			<div class="features__item">
				{% if feature.feature.icon %}
					{% image feature.icon max-100x100 class='features__item-image' %}
				{% endif %}
				<div class="features__item-text">
					<h3 class="features__item-heading">{{ feature.title }}</h3>
					<div class="features__item-description">{{ feature.feature.teaser_description }}</div>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
