{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}

<div class="features-list">
	{% for feature in features %}
		<div class="features-list__item-wrapper">
			<a class="features-list__item" href="{% pageurl feature.feature %}">
				<div class="features-list__item-content">
					{% if feature.feature.icon %}
						{% image feature.feature.icon max-200x200 preserve-svg class='features-list__item-image' role='presentation' %}
					{% endif %}
					<div class="features-list__item-text">
						<h2 class="features-list__item-heading">{{ feature.feature.teaser_title }}</h2>
						<div class="features-list__item-description">{{ feature.feature.teaser_description }}</div>
					</div>
				</div>
				{% include "common/chevron-right.svg" with class="features-list__chevron" %}
			</a>
		</div>
	{% endfor %}
</div>
