{% extends "layout/_layout_sidebar.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
	<div>
		{{ page.description|richtext }}

		{% if page.previous %}
			<a href="{% pageurl page.previous %}">
				{{ page.previous }}
			</a>
		{% endif %}
		{% if page.next %}
			<a href="{% pageurl page.next %}">
				{{ page.next }}
			</a>
		{% endif %}
	</div>
{% endblock main %}

{% block sidebar %}
	{% if page.icon %}
		{% image page.icon fill-50x50-c100 %}
	{% endif %}
	<ol>
		{% for feature in page.all_features %}
			<li>
				<a href="{% pageurl feature.feature %}">
				{{ feature.feature.title }}
			</a></li>
		{% endfor %}
	</ol>
{% endblock %}
