{% extends "layout/_layout_sidebar.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block header_classes %}
	header--blue-bold
{% endblock %}

{% block main %}
	<div>
		<div class="feature-page__text">
			{{ page.description|richtext }}
		</div>

		<nav aria-label="Page navigation">
			{% if page.previous %}
				<a
					href="{% pageurl page.previous %}"
					class="
					pagination__link--button pagination__link--previous"
					aria-label="Previous"
				>
					{% include "common/chevron-right.svg" with class="pagination__icon--previous" %}{{ page.previous }}
				</a>
			{% endif %}

			{% if page.next %}
				<a
					href="{% pageurl page.next %}"
					class="pagination__link--button pagination__link--next"
					aria-label="Next"
				>
					{{ page.next }}{% include "common/chevron-right.svg" with class="pagination__icon--next" %}
				</a>
			{% endif %}
		</nav>


	</div>
{% endblock main %}

{% block sidebar %}
	{% if page.icon %}
		{% image page.icon max-500x500 preserve-svg class="features-sidebar__image" %}
	{% endif %}
	<ol class="features-sidebar__list">
		{% for feature in page.all_features %}
			<li>
				<a href="{% pageurl feature.feature %}" class="features-sidebar__link">
					{{ feature.feature.teaser_title }}
				</a>
			</li>
		{% endfor %}
	</ol>
{% endblock %}
