{% extends "layout/_layout_one_column.html" %}
{% load wagtailcore_tags %}

{% block header_classes %}
	header--blue-bold
{% endblock %}

{% block main %}
	{% if page.features.all %}
		{% include "marketing/_features_list.html" with features=page.features.all %}
	{% endif %}
{% endblock main %}

{% block site_content %}
	{{ block.super }}
	<div class="header header--slate header--subheader">
		<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg" %}
		</div>
		<h1 class="header__title">{{ page.subheader }}</h1>
	</div>
	<div class="layout-one-column">
		{% for block in page.body %}
			{% include_block block %}
		{% endfor %}
	</div>

{% endblock %}
