{% extends "layout/_layout_one_column.html" %}
{% load wagtailcore_tags %}

{% block header_classes %}
	header--blue-bold
{% endblock %}

{% block main %}
	<div>
		{% for block in page.body %}
			{% include_block block %}
		{% endfor %}
	</div>
	{% if page.features.all %}
		{% include "marketing/_features_list.html" with features=page.features.all %}
	{% endif %}
{% endblock main %}

{% block site_content %}
	{{ block.super }}
	<div class="header header--slate header--subheader">
		<div class="hexagons-background">
				{% include "common/_hexagons_background.svg" with class="hexagons-background__svg" %}
		</div>
		<div class="header__title">
			<h1 class="header__title-text">
				{{ page.subheader}}
			</h1>
			{% if page.how_to_install_subtitle %}
				<div>
					{{ page.how_to_install_subtitle }}
				</div>
			{% endif %}
		</div>
		</div>
	<div class="layout-one-column">
		{% for block in page.how_to_install_body %}
			{% include_block block %}
		{% endfor %}
	</div>
{% endblock %}
