@use "../base/mixins/layout";
@use "../base/mixins/links";
@use "../base/mixins/lists";
@use "../base/mixins/typography";
@use "../base/mixins/utilities";
@use "../base/variables";

$hero-overlap: 5.2rem;

.updates {
  padding-top: $hero-overlap;

  // ensures that the hero overlaps (with hexagons)
  margin-top: -$hero-overlap;
  position: relative;
  z-index: variables.$z-hexagons__background--updates;
}

.updates__content {
  @include layout.layout-x;
  @include layout.layout-y--no-tiny-breakpoint;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: variables.$z-hexagons__content--updates;
  color: variables.$gray80--text;
  background-color: variables.$gray10;
}

.updates__section {
  border-left: variables.$border-left;
  padding: 0.5rem 1rem;
  flex-basis: 25rem;
  margin-bottom: 2rem;

  .updates__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  @include utilities.p-remove-first-and-last-margin;
}

.updates__item {
  @include utilities.p-remove-first-and-last-margin;
}

.updates__header {
  @include typography.uppercase;

  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.updates__tag {
  font-weight: variables.$sans-bold;
  margin-bottom: 0;
  font-size: variables.$h4;
}

.updates__links {
  list-style: none;
  margin: 0.375rem 0;
  padding: 0;

  li {
    display: inline-block;

    & {
      @include lists.list--comma(" |");
    }
  }
}

.updates__link {
  @include links.link--underline-on-hover;

  font-weight: variables.$sans-bold;
}

.updates__link--secondary {
  @include links.link--no-underline(variables.$gray50--text, variables.$brand-primary);

  font-weight: variables.$sans-regular;
}
